[2014-12-19 22:34] bifurcation opened #1 "Support flattened JSON syntax"
JOSE has a flattened JSON syntax that is more efficient for single-signer JWS / single-recipient JWE objects.  Basically, all of the elements of the single signatures/recipients object are included at the top level.  It would be nice to have a SerializeFlattened() method on JweObject/JwsObject that rendered to this serialization.

For example:
https://github.com/bifurcation/gose/blob/master/jws.go

[2014-12-19 22:41] bifurcation opened #2 "Improve JWS key management for verification"
The current "supply a key to verify with" model for verification is almost always a bad fit.

If a JWS object contains a "jwk" header, then it already has enough information for a verifier to be able to check the signature.  In this case, it should not be necessary to supply a public key to a verifier constructor.

If a JWS object does not contain a "jwk" header, then the verifier should be identi

[2014-12-19 22:45] bifurcation opened #3 "Support JWK"
It would be helpful for this library to have support for processing JWK-formatted keys independent of JWS / JWE.  For example:
https://github.com/bifurcation/gose/blob/master/jwk.go

[2014-12-22 21:02] bifurcation opened #5 "Remove acronyms from object type names"
"JwsObject" -> "JsonWebSignature"
"JweObject" -> "JsonWebEncryption"

And "JsonWebKey" once that's added.  It's mostly an aesthetic issue, but it does improve readability not having to distinguish "s" from "e" to tell the two apart.  I concede that it works better for JWS and JWK than JWE, since the nouns are more suitable.

[2014-12-22 21:52] #5 closed, assigned to csstaub

[2014-12-23 00:11] csstaub opened #7 "Expose header values on objects"
Expose header values to e.g. retrieve a JWK embedded in a JWS header.

[2014-12-23 22:46] #1 closed, assigned to nobody

[2015-01-06 12:52] bifurcation commented on #3
I updated the GOSE repo to mark it as CC0.

[2015-03-05 23:13] csstaub commented on #2
Hi @bifurcation, I'm working on this (and JWK support) in a separate branch right now: https://github.com/square/go-jose/tree/cs/jwk. Feedback is welcome :).

[2015-03-06 00:32] bifurcation commented on #2
Hey @csstaub, thanks for the ping, I'll take a look.  BTW, once you've got JWK and JWS working, if you want to take a stab at integrating it with [boulder](https://github.com/letsencrypt/boulder), that would be awesome.

[2015-03-16 20:57] rapropos opened #17 "Signature verification chicken-and-egg problem"
I have a situation where information included in an incoming payload is needed to know which key to use to verify the signature on a request, and cannot figure out how to achieve this with the current API. Would there be a downside to exposing the JsonWebSignature's payload field in some fashion that does not yet require knowing the key needed for verification? I am looking to do something like:
[

[2015-03-16 23:47] csstaub commented on #17
It would be preferable to store this information inside a header value, such as the `kid` (key id) header field. I'm currently working on exposing these header values in my `cs/jwk` branch. Selecting the verification key based on the payload seems like an anti-pattern to me, I'd rather not expose the payload in a way that would allow callers to skip verification. Is there any reason you are unable

[2015-03-17 05:33] rapropos commented on #17
I was not aware that these header fields could be co-opted to contain arbitrary business logic data. The description of the `kid` field in the draft spec seemed to suggest that it was intended for a situation where a single signer has multiple keys. In my application, a server needs to respond to many different signers, and the verification process consists of making sure that each successive requ

[2015-03-17 07:06] rapropos commented on #17
So far I have been unsuccessful attempting to set the KeyId field in such a fashion so that it arrives at the server. I marshal my payload object into a `[]byte`, pass that to `Sign()`, set `Signatures[0].Header.KeyId` on the resulting signed object, call `FullSerialize` and send the result over the wire. When it arrives on the server side, the `KeyId` field of the header is blank. A cursory inspe

[2015-03-17 17:53] csstaub commented on #17
As of right now, the experimental branch does not yet have support for setting header values, only reading them. I don't have a clear timeline for adding support for that yet, but patches are welcome. Either way though, setting the header values on the `JoseHeader` struct would not work since the header values would already have to be known at the time of signing to produce a proper message. The w

[2015-03-19 03:50] #17 closed

[2015-03-26 21:50] csstaub commented on #2
Merged #20, headers now expose JWK and can be used for verification.

[2015-03-26 21:50] #2 closed

[2015-03-26 21:50] csstaub commented on #3
Merged #20, which now has basic support for JWK.

[2015-03-26 21:50] #3 closed

[2015-03-26 21:50] csstaub commented on #7
Merged #20, exposes some basic header values now.

[2015-03-26 21:50] #7 closed

[2015-05-03 19:52] jsha opened #22 "Sign with no Protected header in Flattened JWS JSON Serialization syntax"
By my reading of the code, it looks like the unprotected header field is not supported in [Flattened JWS JSON Serialization](https://tools.ietf.org/html/draft-ietf-jose-json-web-signature-41#page-22). I'd like to add support: We are using it in https://github.com/letsencrypt/boulder to indicate which key was used to sign a message, and we'd like to port Boulder to use go-jose. Any objections?

Tha

[2015-05-04 18:40] csstaub commented on #22
Hi @jsha, no objections to adding support! Pull requests are definitely welcome :)

[2015-05-05 19:12] dgalling opened #24 "Support pretty-printing full serialization"

[2015-05-05 19:33] csstaub commented on #24
See #23

[2015-05-06 20:08] csstaub opened #25 "Consider adding PKCS11 support"
As a possible enhancement, it would be nice to have support for doing decryption/signing on HSMs via PKCS11. Possibly with some sort of wrapper around https://github.com/miekg/pkcs11.

[2015-05-08 02:58] jsha commented on #22
After further investigation, the problem was not the unprotected header but the lack of any Protected header. Fix in https://github.com/square/go-jose/pull/27.

[2015-05-08 05:16] #22 closed

[2015-05-08 16:50] csstaub commented on #24
Rejected

[2015-05-08 16:50] #24 closed

[2015-07-23 17:17] r0ro opened #40 "Invalid JWK exponent encoding for RSA ?"
I believe there is an issue regarding exponent ("e") encoding in JWK.
In [jwk_test.go] (https://github.com/square/go-jose/blob/master/jwk_test.go#L181) the TestMarshalNonPointer JWK encoding test looks strange to me :

[code]

Why isn't "e" encoded as "AQAB" as in input ?
as per [JWA RFC7518] (https://tools.ietf.org/html/rfc7518#section-6.3.1.2) e should be encoded in Base64urlUInt
AQAB represent

[2015-07-23 18:55] csstaub commented on #40
It's big-endian, so it decodes to the same number: `AQAB` decodes to three bytes (01 00 01) and `AAEAAQ` decodes to four bytes (00 01 00 01). But you are right, there is some extraneous zero padding there that we should probably get rid of for cleanliness.

[2015-07-23 19:07] r0ro commented on #40
yes you are right, I got the endianess wrong when printing. The issue is not trimming the extra 0.
I've tested with a public key with a 3 exponent :

[code]

and I'm getting

[code]

and AAAAAw reprents 00 00 00 03, again it should only be 03

Right now it's invalid according to the spec:

I assume it should be easy to fix but I'm not fluent in Go, and it would probably be better to add tests to.

[2015-07-23 19:20] csstaub commented on #40
Opened #41 with a fix. Thanks for catching this and reporting it to us!

[2015-07-23 19:45] r0ro commented on #40
Thanks for this quick fix. I haven't checked but there may be other values that suffer from the same encoding issue.

[2015-07-23 21:02] csstaub commented on #40
Merged fix now. Thanks again!

[2015-07-23 21:02] #40 closed

[2015-10-05 01:42] lestrrat opened #50 "Nitpick: Make errors explicit about which fields are missing"
While investigating a malformed jwks file, I found it necessary to know which field go-jose thought was missing from the JSON file. This is not such a important thing except for a specific instance like mine, so I thought I'd just file this run by this change as an issue first instead of PR.

[code]

[2015-10-05 20:28] csstaub commented on #50
Seems good to me, although I probably wouldn't create a separate constant for each error since they're only used once. If you open a PR (and sign our CLA) we could definitely get this merged.

[2015-10-15 07:59] lestrrat commented on #50
done and done :)

[2015-10-15 21:22] #50 closed

[2015-11-02 01:22] lestrrat opened #54 "Consider adding "use" key for JWKs"
I have seen that for some of the JWK-related libraries out there the "use" key in the JWK is required to find the correct key to use for sign verification and what not.

For example, JWK like:

[code]

Fail, but this works

[code]

Now, for the stuff I'm doing, I want to generate the JWK file from the RSA private key on the fly. So I do something like the following:

[code]

and for serialization/

[2015-11-02 01:50] csstaub commented on #54
We can definitely add a `Use` field to the `jose.JsonWebKey` struct, should be pretty simple. Feel free to open a pull request to add it to the struct.

[2015-11-02 20:07] #54 closed

[2015-11-11 18:59] lusis opened #56 "Custom headers and additional header support"
The JWE spec supports more than just the two fields allowed currently in go-jose (`alg` and `enc`).
[You can also specify a kid which is really important when using symmetric encryption like AES with JWE.](https://www.ietf.org/mail-archive/web/jose/current/msg04517.html)

I'm attempting something like so:

[code]

but when I attempt to base64 decode the header (first part), I still only see `alg`

[2015-11-11 19:38] csstaub commented on #56
Yeah, we currently don't have good support for that. I'm not sure what would be a good interface for doing this, e.g. how do you control whether you want to set headers for the entire message or only for individual recipients? I think it would make sense to change the signature of e.g. `NewEncrypter`, `AddRecipient` to allow for also passing in headers. Another option would be to wrap the key in a

[2015-11-11 19:40] csstaub commented on #56
I think adding a new `Recipient` interface that can hold keys and metadata together would be a cleaner solution, but I'd love to have some input from more people on this. Thoughts?

[2015-11-11 19:41] lusis commented on #56
I was just looking. Can we maybe as a first pass consider using the same mechanism as `SetCompression` as a short term fix? I can knock that out fairly quickly (it's what I was going to do in the short term as a fork anyway).

[2015-11-11 19:42] lusis commented on #56
Lemme also poke at the recipient interface as well. Obviously the whole `kid` bit doesn't play well with `jose-util` but it doesn't really support `dir` anyway. In our use case we'd be passing in an AWS KMS alias as the kid and grabbing the key ourselves.

[2015-11-11 19:45] lusis commented on #56
FWIW currently in our case we don't need this to per-recipient

[2015-11-11 22:01] csstaub commented on #56
I'm not sure I would consider merging something into master if we don't intend to keep it there long-term, but I'd be happy to merge it into a different branch (e.g. one that you could pull in via gopkg.in).

[2015-11-11 22:03] csstaub commented on #56
Not support `jose-util` is fine, we don't intend for it to be feature-complete in any way. It's meant for debugging and development purposes and not production use.

[2015-11-11 22:23] lusis commented on #56
okay here's a short git diff of my current fix that appears to accomplish the task:

[code]

I think this would work but as you said it may not be a long term approach. I also still need to write a test case for it. I'm outside of my comfort zone in crypto related stuff and I really wanna make sure that it doesn't break anything/cause a security issue.

[2015-11-11 22:27] lusis commented on #56
Side note related to testing, evidently it's totally valid to have an empty placeholder when using `dir` without keywrap:

[code]

This may need to be reflected when I update the tests.

[2015-11-12 02:48] csstaub commented on #56
No need to worry about breaking anything, we have a dedicated team of security engineers that can review code and help out :). I can try to come up with a sketch for adding a recipient interface over the weekend.

[2015-11-17 01:14] csstaub commented on #56
I believe https://github.com/square/go-jose/pull/58 is a partial solution to this (in particular, it addresses the key ID problem).

[2015-11-18 19:22] jsha opened #60 "Incorrect error in `sanitized()`"
https://github.com/square/go-jose/blob/master/jws.go#L106
[code]

I think this was incorrectly changed from its old value ` fmt.Errorf("square/go-jose: missing payload in JWS message")`. @bifurcation

[2015-11-19 18:07] #60 closed

[2016-02-08 18:38] csstaub opened #64 "Ideas for version 2"
Would love to clean up the interface for a go-jose.v2 release. Ideas welcome!

[2016-02-08 19:18] csstaub commented on #64
So far, what I would like to change:
* make signers/encrypters/etc immutable (options can only bet set when creating a new object)
* allow setting options through an options struct so we can add more things over time
* allow per-message headers to be set? e.g. add "SignWithHeaders(..., headers)"

[2016-02-08 20:14] csstaub opened #66 "Use base64.RawURLEncoding"
Use base64.RawURLEncoding instead of our own helper functions. Breaks support for older Go versions, so maybe wait a bit or do this in v2 only.

[2016-02-11 11:33] yawn opened #67 "Registered claims"
Are you interested in supporting [registered claims](https://self-issued.info/docs/draft-ietf-oauth-json-web-token.html#rfc.section.4.1) in this project? Or should I create a separate repository implementing (at least a subset of those) on top of `go-jose`?

I'd like to support (at least) `exp` and `nbf`.

[2016-02-11 17:40] csstaub commented on #67
Yeah, I think this could make a good addition for go-jose.v2, if you're interested in contributing it.

[2016-02-12 08:51] yawn commented on #67
No chance to get in into the current version? I'd build it as an independent package.

[2016-02-12 17:03] csstaub commented on #67
Sure, we can merge it in anytime. I was just mentioning v2 because I'm planning to break the interface for that anyway, so if you feel interface-breaking change would be needed it could go in there.

[2016-02-13 00:57] csstaub opened #68 "CFRG ECDH and signatures in JOSE"
Support for: https://datatracker.ietf.org/doc/draft-ietf-jose-cfrg-curves/

[2016-02-14 23:29] csstaub commented on #64
Working on v2 branch: https://github.com/square/go-jose/tree/v2, comments welcome.

[2016-02-26 16:20] yawn opened #70 "Consider implementing encoding.TextUnmarshaler for JsonWebKey"
Usecase: embedding JWK's in configuration files. See the following workaround:

[code]

[2016-03-09 21:29] jsha commented on #25
Note: If you want to wrap PKCS11 for signing, you may find this higher-level package (which wraps miekg/pkcs11) easier to use: https://github.com/letsencrypt/pkcs11key.

[2016-03-09 21:35] jsha opened #73 "Go's JSON parser is case-insensitive"
As pointed out at https://www.ietf.org/mail-archive/web/json/current/msg03763.html, Go's JSON parser is case-insensitive, which can lead to differences in interpretation between go-jose and libraries in other languages.

One possible workaround, mentioned in that thread, is to parse into a `map[string]string`, where the key names will be based on exact match.

[2016-03-09 21:40] csstaub commented on #25
That looks super useful. Thanks @jsha!

[2016-03-09 21:55] csstaub commented on #73
Parsing as a `map[string]string` would work, but it's super annoying to parse messages that way. Maybe we could just fork `encoding/json` and make a case-insensitive version? That way we could also make changes to reject JSON blobs with duplicate keys.

[2016-03-09 22:24] rolandshoemaker commented on #73
:+1: for forking `encoding/json`, none of these bugs (or... idk, quirks?) will be fixed during the go1 lifetime to retain backwards compatibility.

[2016-03-10 06:08] #73 closed

[2016-03-15 18:33] kmulvey opened #77 "how to verify with jwk"
If I use signer.Sign() which by default includes the public key in the jwk header how can I use this to verify? Verify() expects a key, but I want to use the key thats already in the token.

[2016-03-15 22:50] csstaub commented on #77
You can parse the message and then extract the key from the signature header if you must. But beware that you need to make sure the key is trusted (such as by verifying the thumbprint). In general, it is preferable to always know which key you expect a message to be signed with ahead of time.

[2016-03-20 02:16] ericchiang opened #78 "gopkg imports github.com repo"
Importing this package from the gopkg import requires downloading the github repo as well. Not a bug, but it seems odd to having the versioned import path downloading the latest from github for the sub repos.

[code]

[2016-03-20 03:51] csstaub commented on #78
Yeah, I haven't set up versioning for the `cipher` and `json` subpackages. I should probably do that just for the sake of consistency, though I don't really intend to change anything in there.

[2016-03-22 13:56] shaxbee opened #81 "Is this good place to add JWT support?"
I've implemented support for deserializing JWT claims and am wondering if go-jose would benefit from adding it. What's your thoughts?

[2016-03-22 17:26] csstaub commented on #81
Yeah, I would be more than happy to merge support for JWT claims (ideally in a sub-package). Note that there's already a PR for claims support here: https://github.com/square/go-jose/pull/69

[2016-03-22 17:30] #78 closed

[2016-03-26 04:56] onlyjob opened #83 "please tag formal releases"
Please consider assigning version numbers and tagging releases. Tags/releases
are quite useful for downstream package maintainers (in [Debian](http://debian.org) and other distributions) to export source tarballs, automatically track new releases and to declare dependencies between packages. Read more in the [Debian Upstream Guide](https://wiki.debian.org/UpstreamGuide#Releases_and_Versions).

Tha

[2016-03-26 05:36] csstaub commented on #83
What's your use-case here? Since Go doesn't really support dynamic linking, packaging `square/go-jose` by itself doesn't really make sense. If you maintain a Go project that depends on us, please use vendoring to pin to a specific version. You can use the `v1` branch via `gopkg.in/square/go-jose.v1`, for which we guarantee backwards-compatibility (the `v2` branch is still in development).

[2016-03-26 05:59] onlyjob commented on #83
Packaging. In Debian instead of vendoring (which IMHO should be condemned as it throws away 20+ years of best practice in software engineering) we have to reuse standalone packages. Packaging makes a lot of sense because it reduces duplication and allows to run tests properly on build -- a something often neglected for vendored libraries. On this instance _square/go-jose_ is going to be introduced

[2016-03-26 06:30] csstaub commented on #83
Ah, I see. That is entirely reasonable. I've pushed tag `v1.0` to repo (it matches the current head of the `v1` branch). I don't plan to make any interface-breaking changes to the `v1` branch in the future (the point of having a branch is to keep it stable), though I suppose I may bump the tag if anything new is added. If you want to verify the GPG signature, my public key can be found on my websi

[2016-03-26 08:08] onlyjob commented on #83
Awesome! Thank you very much. :)

[2016-03-26 17:26] #83 closed

[2016-03-27 17:25] petercolberg opened #84 "TestRoundtripsJWECorrupted crashes on armhf"
The test suite of commit 7465d2b fails on armhf (hard-float ABI armv7) with the following error:
https://tests.reproducible-builds.org/rb-pkg/unstable/armhf/golang-github-square-go-jose.html
[code]

[2016-03-27 17:58] csstaub commented on #84
It looks to me like it just timed out. Other than that I don't see anything particularly interesting about those stack traces. You may want to try this again with e.g. `go test -v -timeout 1h`. Based on the fact that `TestRoundtripsJWE` alone took almost 200s to complete, I'd wager a guess that the default timeout of 600s likely isn't enough for running all the tests.

[2016-03-28 19:30] b6g opened #85 "Support KeyID of symmetric keys in JWS"
I got a panic when I created a HS256 signer with a JsonWebKey,

[code]

and the panic was,

[code]

The problem is `makeSymmetricSigner` does not allocate the `publicKey` field, yet `makeJWSRecipient` assigns the `KeyID` of the `signingKey` to `recipient.publicKey.KeyID`.

I could be wrong, but I think the spec allows setting "kid" when HS256 is used.

I could not find a good fix for this problem.

[2016-03-28 20:51] csstaub commented on #85
Yes, seems like a definite bug. Thanks for reporting this. I will take a look into fixing this later today.

[2016-03-29 05:05] csstaub commented on #84
Closing this, as it doesn't look an it's an issue with the library itself, just a timeout. Please re-open if you disagree.

[2016-03-29 05:05] #84 closed

[2016-03-29 05:05] #77 closed

[2016-03-29 20:45] #85 closed

[2016-03-30 14:30] yawn commented on #56
Another important case would be `cty` (for encrypted and signed JWTs), see https://tools.ietf.org/html/rfc7519#section-5.2

[2016-03-30 17:22] csstaub commented on #56
@yawn: I have a `v2` branch where I'm refactoring the interface a bit, mainly to make signers/encrypters immutable. Any ideas how we could fit that in there: https://godoc.org/gopkg.in/square/go-jose.v2 ?

[2016-04-19 06:04] #81 closed

[2016-04-19 06:05] csstaub commented on #67
See `jwt` sub-package in the v2 branch for a dev version.

[2016-04-19 06:05] #66 closed

[2016-04-19 06:06] csstaub opened #88 "Improve jwt test coverage"
Improve test coverage for the jwt sub-package in the v2 branch.

[2016-05-02 23:33] jsha opened #93 "std_json tag can be removed"
We (letsencrypt/boulder) requested the std_json tag to ensure we could have a smooth switchover to the safe JSON code. We've now made that transition and the std_json tag can be removed. Thanks for being so accomodating!

[2016-06-04 07:39] arekkas opened #95 "x5c / x5t parameters"
Is it possible to use [x5c](https://tools.ietf.org/html/rfc7517#section-4.7) parameters with go-jose? I want to marshall a RSA private key along a x509 certificate (for HTTP over TLS).

Example: https://tools.ietf.org/html/rfc7517#appendix-B

[2016-06-04 16:16] csstaub commented on #95
There's not field for it in the struct right now, but it should be fairly simple to add. I can take a look at adding this next week maybe. Or if you want to take a shot at it, [pull requests are welcome](https://github.com/square/go-jose/blob/master/CONTRIBUTING.md)!

[2016-06-04 18:15] arekkas commented on #95
Hey I would be glad if you could take a look because I have a lot of work right now. If you don't find the time I will look at this in the next weeks / month

[2016-06-08 11:10] arekkas commented on #95
I took a quick look but I'm not really sure where to begin. I guess we need to add a type assertion for `tls.Certificate` in `MarshalJSON`. Then, marshal the private key using `fromEcPrivateKey` or respectively `fromRsaPrivateKey`. My question is how to encode `tls.Certificate.Certificate` in DER encoding - or is the byte slice already in DER encoding?

I guess it would look something like (pseudo

[2016-06-08 17:59] csstaub commented on #95
You want `x509.Certificate`, not `tls.Certificate`. The only changes that would be required are the logic for marshalling/unmarshalling the list of `[]*x509.Certificate` a caller puts into the `X5c` field of a `jose.JsonWebKey` struct. But while we're at it, should probably also add support for `X5t` and such.

[2016-06-08 18:38] arekkas commented on #95
Would `base64(x509.Certificate.Raw)` be enough for x5c? And `base64(sha1(x509.Certificate.Raw))` for x5t?

[2016-06-08 18:44] csstaub commented on #95
Yes -- also `base64(sha256(certificate.Raw))` for `x5t#S256`.

[2016-06-08 18:45] csstaub commented on #95
Although now that I think about it, setting `x5t` and `x5t#S256` should actually be up to the caller.

[2016-06-08 18:52] arekkas commented on #95
Ok so only x5c for now?

[2016-06-08 18:53] csstaub commented on #95
No I think the fields should be added to the struct, just serialize them directly.

[2016-06-08 18:57] arekkas commented on #95
I am confused. Do you mean that the developer using go-jose is responsible for x5t? I think I will stick to x5c for now - I'm not confident with the according RFCs and such.

[2016-06-08 19:13] arekkas commented on #95
Let's continue this in #96

[2016-06-13 18:21] #95 closed

[2016-06-13 18:21] arekkas commented on #95
resolved by https://github.com/square/go-jose/pull/97

[2016-06-20 21:07] ericchiang opened #98 "jwt: expose key headers"
Currently the "jwt" package does not expose the jose.Header fields of the JSONWebToken. This means you can't match on keyIDs to determine which key pair signed the token (and verify appropriately).

I propose adding a "Signatures" field to the JSONWebToken to mirror the JSONWebSignature.

[2016-06-20 21:20] csstaub commented on #98
Sounds good to me. Note that `v2` is still unstable and the interface can change (the [releases tab](https://github.com/square/go-jose/releases) shows what's tagged as stable).

[2016-06-20 21:20] ericchiang commented on #98
Yep. Understand that this may change :)

[2016-06-25 08:47] shaxbee commented on #98
I can take care of this.

[2016-06-25 08:54] shaxbee commented on #64
Planned improvements for claims setting in jwt.Builder.

Separate Claims method into PublicClaims(cl Claims) and PrivateClaims(cl interface{}).
Those two methods would merge claims with existing ones also preventing private claims from overriding public ones.

For private claims map[string]interface{} would be used as a storage in builder and reflect would be used to extract fields following encod

[2016-06-25 09:16] shaxbee commented on #64
Or to keep it simple we can make PrivateClaims(cl map[string]interface{}) the only way to set claims.

[2016-06-26 21:39] ericchiang opened #100 "jwt: builder panics when using custom struct as claims"
Builder panics when you use a custom claim struct.

[code]

Running this program results in.

[code]

[2016-06-28 02:51] csstaub commented on #98
Just merged #99, closing this. Please ping/re-open if something is missing.

[2016-06-28 02:51] #98 closed

[2016-06-28 18:23] ericchiang commented on #64
@shaxbee I'm a little confused by the motivation behind the public and private claim logic. Isn't the main distinction about naming? Why are these things that need to be expose to the end user?

Also we've personally had issues with map[string]interface{}[0], and now favor using explicit structs instead. No preference, but just a word of warning.

[0] https://github.com/coreos/dex/issues/418

[2016-06-28 18:52] #100 closed

[2016-06-29 01:57] shaxbee commented on #64
@ericchiang This stems from conversation around #82, where @csstaub mentioned that it would be preferable to have typesafe methods instead, I don't have strong opinion on that thought.

As for using map[string]interface{} as claims storage in builder it is necessary to support merging when Claims are called multiple times. I wrote utility to marshal structs into map, honouring json tags. The date

[2016-06-30 22:36] ericchiang commented on #64
Okay, thanks for the explanation :)

[2016-08-04 19:29] nhooyr opened #102 "where were the tests for ECDSA thumbprints obtained from?"
https://github.com/square/go-jose/blob/master/jwk_test.go#L497

Working on adding ECDSA support to [golang.org/x/crypto/acme](https://go-review.googlesource.com/#/c/25462/) but I need a test for ECDSA thumbprints. I copied it from here but I wanted to know where this library got it from.

[2016-08-04 20:03] csstaub commented on #102
Here's a list of RFCs that cover JOSE standards, you can find examples in those documents: https://datatracker.ietf.org/wg/jose/documents/

[2016-08-04 20:03] #102 closed

[2016-08-08 09:14] arekkas opened #103 "release new minor version"
there have been a few additions since the last release and it would be great to see them in a new patch/minor version.

[2016-08-08 14:41] csstaub commented on #103
done: https://github.com/square/go-jose/releases

[2016-08-08 14:41] #103 closed

[2016-08-08 14:48] arekkas commented on #103
thanks!

[2016-09-01 00:02] csstaub commented on #93
Removed std_json build tag in all branches now (master, v1 and v2/dev).

[2016-09-01 00:02] #93 closed

[2016-09-03 03:43] petercolberg opened #109 "gopkg.in/square/go-jose.v1 fails to build due to unversioned import path"
Version 1.0.4 fails to build as a Debian package due to now importing `github.com/square/go-jose/json` instead of previously `gopkg.in/square/go-jose.v1/json`. Could you revert the import path to the latter?

[2016-09-03 04:52] csstaub commented on #109
Ah, sorry about that -- I probably made a mistake while rebasing some changes. I'll get it fixed.

[2016-09-03 04:55] csstaub commented on #109
Do you have build status online somewhere, or a way I can track these failures directly?

[2016-09-03 18:01] petercolberg commented on #109
Debian publishes build logs, but the build is only triggered after the maintainer uploads the new version.

https://buildd.debian.org/status/logs.php?pkg=golang-gopkg-square-go-jose.v1&arch=all

[2016-09-03 18:45] #109 closed

[2016-10-01 08:08] shaxbee commented on #88
Hello Cedric, what code coverage percentage are we looking at?

[2016-10-01 16:51] csstaub commented on #88
Ideally I'd like to get test coverage for the package above 90%. I haven't looked at this in a while so I don't actually know where it stands right now.

[2016-10-11 18:20] csstaub opened #116 "Make embedJWK default to false in v2"

[2016-10-11 18:27] #88 closed

[2016-10-12 09:46] shaxbee opened #118 "Support decoding and encoding of encrypted-and-signed JWTs"
Following up on comment by @jawn in #56.
Will work on adding necessary APIs and implementation shortly.

[2016-10-26 06:54] zamicol opened #119 "Support Proof-of-Possession Key Semantics for JSON Web Tokens (JWTs) (RFC 7800) cnf claim"
Thanks to @shaxbee's additions (#114), there's now JWT claims on the v2 branch.

[RFC 7800](https://tools.ietf.org/html/rfc7800) defines one more claim: cnf.  Now seems like a good time to include it.

"The value of the "cnf" claim is a JSON object and the members of that object identify the proof-of-possession key."

[Here's the list of JWT claims.](http://www.iana.org/assignments/jwt/jwt.xhtml#I

[2016-10-27 00:44] csstaub opened #121 "Support JWT operations in jose-util CLI?"
The `jose-util` CLI can already decode/dump JWE/JWS for debugging, maybe we should add some JWT debugging commands. Could be useful.

[2016-10-27 00:46] csstaub commented on #118
What changes are required for this?

[2016-10-27 00:46] #64 closed

[2016-10-27 00:46] #67 closed

[2016-10-27 01:09] csstaub commented on #116
This is already the case.

[2016-10-27 01:09] #116 closed

[2016-10-27 08:36] shaxbee commented on #121
Also would be nice to have symmetric key support. I guess for jwt I could try deserializing into jwt.Claims to verify if basic structure is correct, and dump the standard claims in human readable form (eg. timestamp).

[2016-10-27 08:46] shaxbee commented on #118
I'll provide additional builder and Parse method, so no changes to API, only new functionality. Can be done after v2 release.

[2016-11-11 23:46] ericchiang opened #123 "NewSigner/Verify: accept non-pointer jose.JSONWebKey values"
This package is somewhat picky about always using `*jose.JSONWebKey` values instead of non-pointer values. I find myself messing this up a lot, particularly when using JSONWebKeySet[0], which holds concrete values.

Largely I'm surprised when this code:

[code]

Returns the following error.

[code]

This is because the codebase requires explicitly using a `*JSONWebKey` type instead of a non-pointe

[2016-11-12 17:45] csstaub commented on #123
That's a good point re: not having an explicit constructor method. Adding support for non-pointer JWK sounds totally reasonable to me.

[2016-11-13 04:05] shaxbee commented on #123
I actually made that change in my vendored project some time ago, will submit PR shortly.

[2016-11-13 04:25] shaxbee commented on #123
See #124

[2016-11-13 13:31] shaxbee commented on #118
See #125

[2016-11-13 13:32] shaxbee commented on #56
@yawn see #125

[2016-11-21 22:23] ekristen opened #126 "Support setting optional JWT headers"
See RFC -- https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32#section-5

While the `typ` header is optional it is good practice when creating JWT tokens to set `typ` to `JWT` (see https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32#section-3.1)

[2016-11-21 22:29] csstaub commented on #123
Tagged v2.0.1, closing now. Thanks everyone.

[2016-11-21 22:29] #123 closed

[2016-11-22 04:40] shaxbee commented on #126
I initially didn't implement it as it wasn't required.
Will add the necessary tpe header shortly.

On Tue, Nov 22, 2016, 6:23 AM Erik Kristensen <notifications@github.com>
wrote:

[2016-11-22 10:38] #118 closed

[2016-11-29 04:05] ekristen commented on #126
Would be nice to support all the other headers that are acceptable in a JWS which is used by JWT https://tools.ietf.org/html/draft-ietf-jose-json-web-signature-41#page-11

[2016-11-29 04:19] ekristen opened #129 "Support setting all headers anytime"
See https://tools.ietf.org/html/draft-ietf-jose-json-web-signature-41#page-11

I'm working on implementing a JOSE backend for the Vault Project https://github.com/hashicorp/vault/issues/1986

Running into issues with this library not supporting setting all the various headers that are supported by JWS vs JWE and JWT.

[2016-11-29 05:18] shaxbee commented on #126
I should have PR for this by the end of the week.

On Tue, Nov 29, 2016, 12:05 PM Erik Kristensen <notifications@github.com>
wrote:

[2016-11-29 14:47] ekristen commented on #129
@shaxbee this might be a more relevant issue instead of being a JWT specific issue. I appreciate your quick attention to all this.

Please note headers like x5t, x5c, should probably be a bool like JWK and added automatically if set since they are the fingerprint and contents of the public key associated with the private key being used to sign.

If you have any questions please let me know. Thanks

[2016-12-01 23:16] yun-wang opened #130 "Support Base64URL-encoded "n" parameter in JSONWebKey"
The JWA [spec](https://www.rfc-editor.org/rfc/rfc7518.txt) says:

However, Base64URL-encoded "n" parameter cannot be unmarshalled into [JSONWebKey](https://github.com/square/go-jose/blob/master/jwk.go#L62) in `go-jose`.

Here is what I'm trying to do:
[code]

When the "n" parameter in the json body is Base64URL encoded instead of Base64 encoded, I get the error `illegal base64 data at input byte 3

[2016-12-02 12:49] csstaub commented on #130
Do you have an example input? In the struct you linked, [`N`](https://github.com/square/go-jose/blob/v2/jwk.go#L45) is of type `*byteBuffer`, which is a special type that deserializes from [base64url](https://github.com/square/go-jose/blob/v2/encoding.go#L139) already.

[2016-12-02 12:57] shaxbee commented on #129
@eriksten x5t contains certificate chain so I'll have to figure out the way to optionally pass it to signer.

[2016-12-02 12:58] shaxbee commented on #129
Do you use crypto/x509 to load/manage certificate pool?

[2016-12-02 13:44] jsloyer commented on #130
@csstaub below is the result from the jwks endpoint.

[code]

[2016-12-02 13:45] jsloyer commented on #130
A little go app that validates it, https://play.golang.org/p/Mjg1zUcxw4

[2016-12-02 14:31] shaxbee commented on #130
It seems that your sample uses urlencoding with padding, while go-jose uses
RawURLEncoding. Solution here would be to use URLEncoding instead when
decoding base64url type.

On Fri, Dec 2, 2016, 9:45 PM Jeff Sloyer <notifications@github.com> wrote:

[2016-12-02 14:33] jsloyer commented on #130
@shaxbee do we need to change the `n` value encoding or can we tell go-jose to use a different type of encoding to decode it?

[2016-12-02 16:59] ekristen commented on #129
@shaxbee I think that's reasonable to expect (using the crypto/x509). For example in my uses and in a few other uses I've seen, there is no certificate authority being used, its just the base64 encoding of the public key that corresponds to the private key being used in the signing algorithm, RSA or EC.  I'm not using signed certs, just a generated private key and deriving the public key from it.

[2016-12-02 17:24] shaxbee commented on #129
I can't find information in spec about which certificate in the chain is
used for thumbprint calculation. Is it first or last? Is the chain always
ordered from peer to root or the other way around?

So far I exposed x5t, x5t#sha256 as string fields in JSONWebKey which then
should be propagated to JWS headers. I can provide thumbprint functions or
setters on JSONWebKey.

@csstaub any thoughts?

On

[2016-12-02 17:33] ekristen commented on #129
I would imagine it's the fingerprint for the private key used to sign. The same fingerprint should match any public key derived from the same private key.

Sent from my iPhone

[2016-12-02 17:39] yun-wang commented on #130
@csstaub @shaxbee Thanks for the quick response. I can confirm changing `RawURLEncoding` to `URLEncoding` fixes the decoding error for me.

[2016-12-02 17:57] shaxbee commented on #129
It seems to be based on DER certificate which is public key part.

https://morgansimonsen.com/2013/04/16/understanding-x-509-digital-certificate-thumbprints/

I've provided helper functions to generate thumbprints from `*x509.Certificate`

See #131 for prototype.

[2016-12-02 18:05] yun-wang commented on #130
I submitted a PR to just retry with `URLEncoding` when `RawURLEncoding` fails, what do you think?

[2016-12-02 19:26] yun-wang commented on #130
PR updated with @shaxbee's review comment.

[2016-12-03 00:54] csstaub commented on #130
Strictly speaking, the base64url-encoded data in a JWK should not have padding if I understand the standard correctly. See RFC 7515, Section 2. Do you have the option of fixing the producer that is giving you invalid JWK sets? IMHO the JOSE standards are already wonky enough as it is and we'll be better off in the long run to standardize instead of dealing with corner cases like this in every libr

[2016-12-03 01:01] csstaub commented on #129
From the standard, about x5c ordering:

[2016-12-03 01:03] csstaub commented on #129
Oh, also:

The use of base64 vs. base64url here is rather annoying.

[2016-12-03 20:54] yun-wang commented on #130
@csstaub Yeah, I agree. I'll close the PR, and I'll work with the JWK sets producer to get the encoding corrected.

[2016-12-03 20:54] #130 closed

[2016-12-04 15:06] shaxbee commented on #129
@csstaub Thanks, I'm generating thumbprints and populating x5* headers in JWS, thumbprints can be provided as JSONWebKey field as well. I'll work on test and JWE headers next.
@ekristen could you try out my PR and see if API is convenient enough?

[2016-12-15 07:07] zamicol opened #133 "Link to docs?"
The link for the docs is a little confusing.  Maybe include a direct link in the main README.md?

https://godoc.org/gopkg.in/square/go-jose.v2

I usually do a `ctrl+f doc` to find the GoDoc.  That returns two mentions of "The Godoc reference" without a link.

[2016-12-20 02:47] csstaub commented on #133
The "godoc | version 1" and "godoc | version 2" badges (both blue) link to the Godoc directly. But yeah, it would be nice to have something searchable. I can add extra links to make it more obvious.

[2017-01-08 00:28] buckhx opened #134 "Support ed25519 keys"
Support the ed25519 signing method https://ed25519.cr.yp.to/

There is an x/crypto package at https://godoc.org/golang.org/x/crypto/ed25519

Happy to contribute if needed.

[2017-01-08 06:21] csstaub commented on #134
We got a ticket for that: #68. Pull requests are welcome.

[2017-01-08 06:21] #134 closed

[2017-02-07 23:05] hlandau commented on #56
FYI the ACME specification, which relies on JOSE, now specifies an `url` field in the protected header, as well as `kid` and `nonce`. https://tools.ietf.org/html/draft-ietf-acme-acme-05#section-5.2

Having to change go-jose every time some specification wants to put something in the protected header seems untenable. How about providing a means of injecting arbitrary keys into the protected header

[2017-02-07 23:22] csstaub commented on #56
That's a fair point, I think that's something we could add if you have a pull request for it.

[2017-02-08 08:51] yosida95 opened #135 "Export Unverified Payload"
I want to access JWS payload before it gets verified.

**Use Case:**
I am building an Open ID Connect clients which accepts ID Tokens (i.e. JWTs signed by JWS) issued by multiple issuers.  In this client, parse a JWS payload at first, then recognize the issuer by `iss` claim of the payload and retrieve JWKs via Open ID Connect Discovery flow, finally verify the JWS using retrieved JWKs.

I looked

[2017-02-08 08:56] yosida95 commented on #135
existing sample API provided by [jwk-go](https://github.com/dgrijalva/jwt-go): https://godoc.org/github.com/dgrijalva/jwt-go#Keyfunc

[2017-02-08 16:01] csstaub commented on #135
That's not an unreasonable request, but exposing a generic API function to retrieve the payload without verifying it first is not something I want to include in the library. I'd be ok with adding a function for key retrieval in the jwt sub package, similar to what dgrijalva/jwt-go does; so that would allow doing this for JWT but not for generic JWS messages.

[2017-02-22 07:53] shawnps commented on #129
@shaxbee is there currently a way to set `"kid"` on a JWS as described here?

https://tools.ietf.org/html/rfc7515#section-4.1.4

[2017-03-03 22:55] solarfly73 opened #140 "LoadPublicKey and LoadPrivateKey are in package main"
The utils LoadPublicKey and LoadPrivateKey functions are listed in godoc as part of the library, but these are in the main package of jose-util and can't be accessed. Is there a reason the utils.go isn't outside of main and accessible as library calls?

[2017-03-06 22:07] csstaub commented on #140
Both of those functions were present in the jose package in `v1`, but were removed from `v2` (and moved into jose-util for internal use). IMO the functions were badly designed and shouldn't be used. They try to parse multiple different formats for compat but in a bit of a haphazard way. Rather than doing this, your app should know what it's parsing or use a third-party library that specifically fo

[2017-03-06 22:08] #140 closed

[2017-03-15 20:59] arekkas opened #141 "Critical Vulnerability in JSON Web Encryption?"
According to [this blog post](https://auth0.com/blog/critical-vulnerability-in-json-web-encryption/) there is a critical vulnerability in this library. The blog post is 3 days old and mentions go-jose, but there does not seem to be any mention of this issue in the changelog or in the PRs. Is this a thing and if so, which version introduced a fix?

[2017-03-15 21:38] csstaub commented on #141
Hi @arekkas! Yes, 1.1.0 and greater should have all the fixes. All of these vulnerabilities were actually originally reported to [Square's Open Source bug bounty](https://hackerone.com/square-open-source) by the researcher that discovered them, and were fixed by us at that time. We encourage responsible disclosure of vulnerabilities in our products and pay rewards for bugs reported to us.

[2017-03-23 23:59] jacobstr opened #142 "Builder serializes integers as floats, which subsequently fail to Decode."
Assuming I'm doing this all using the blessed path. I've included a snippet at the bottom to demonstrate.

Relevant output produced:
[code]

If you base64 decode the 2nd component of the compact JWT you'll see `"number": 1e+06`.

I suspect the culprit is here: https://github.com/square/go-jose/blob/v2/jwt/builder.go#L132 - the Marshal/Unmarshal loses the type information that would otherwise cause

[2017-03-24 00:18] csstaub commented on #142
Yep, that looks like a bug. I'll have to think about how to best fix this.

[2017-03-24 00:36] csstaub commented on #142
Seems like this should fix it:
[code]

Example: https://play.golang.org/p/2irRfWlxgN
[code]

So that should preserve ints as ints, and floats as floats. I'll make a PR shortly.

[2017-04-04 00:23] ben-turner commented on #135
This could be quite useful for debugging if it was available in both packages. I don't see any way that it could be harmful to have it. Named appropriately, it would be unlikely that it could be confused for Verify. Alternatively, you could just export the field as something like `RawPayload`, which implies that it hasn't necessarily been verified yet.

[2017-04-04 00:36] csstaub commented on #135
I disagree, I think it has a lot of potential for misuse. If you want to debug a JWS payload, you can always deconstruct it yourself by parsing the JSON and reading whatever you want out of it. JOSE already has enough sharp edges as it is, I'd rather not add another one.

[2017-04-04 00:44] ben-turner opened #144 "Typed Verification Methods"
The `JsonWebSignature.Verify` method currently accepts a `interface{}` as a parameter. This makes it not immediately apparent what types are expected. For example, there doesn't seem to be any indication that `symmetricMac` is created with a byte slice instead of a string unless you read the code. This could be fixed with an update to the docs, however this doesn't fit Go idea of "if it compiles,

[2017-04-04 00:58] ben-turner commented on #135
I agree that it could be misused, but if it's clear that it's not intended to be used for in a certain way and a developer does it anyway, is that not the fault of the developer? The only reason that something like that should be avoided is if it will have side effects within the lib (eg. unexpected behaviour if the field is written to). It's not the job of a library to force the users to do thing

[2017-04-04 02:53] csstaub commented on #135
This being a crypto library it's important for us to ensure that the interface is as safe as we can make it. There are other, better ways to solve the problem this issue is about that do not involve exposing the raw, unverified payload. As such I don't see the need for exposing the raw payload in this library. If you're parsing an unverified payload you're almost certainly doing something wrong an

[2017-04-17 21:50] Grillz opened #146 "Multiple signatures?"
Hey I'm working out some issues with the go-oidc verification method, I noticed that https://github.com/square/go-jose/blob/master/jws.go#L30 is an array of signatures. I can't seem to find any documentation on when a JWT would have multiple signatures. Is it safe to assume a single value here? Thanks

[2017-04-17 21:56] Grillz commented on #146
nvm, it is specified here http://self-issued.info/docs/draft-jones-json-web-token-01.html#Serializations closing

[2017-04-17 21:56] #146 closed

[2017-04-19 19:53] losinggeneration commented on #135
I've run into needing this as well. It's pretty easy to do outside of the jose or jose/jwt library e.g [coreos/go-oidc](https://github.com/coreos/go-oidc/blob/master/verify.go#L81)

Would you be willing to elaborate how you'd solve the problem of multiple issuers? The solution I came up with was passing the issuer along that could be used to get the JWK without inspecting the JWS payload. With thi

[2017-04-19 22:05] csstaub commented on #135
If you have multiple issuing keys, you can set the key ID (`kid`) field in the JWS header and select the key used to verify a payload based on that value. The key ID field is exposed in the read-only header (https://godoc.org/gopkg.in/square/go-jose.v2#Header) which can be accessed after parsing a JWS message.

[2017-04-19 23:07] losinggeneration commented on #135
That's for the response @csstaub That seems like it would work well but it requires knowing every issuer prior to being able to verify the JWS.

In my case, I'm using a single service that provides multiple issuers. So I have a known base URL `https://example.com` in this example. The `iss` field includes the issuing resource as part of the URL that can be pulled out `{issuer}` to construct a URL

[2017-04-19 23:12] csstaub commented on #135
That seems like an odd pattern -- how do you verify that the JWKs you fetch from your base URL are trusted? How do you know you can trust them?

We could certainly introduce a callback that would allow you callers to fetch keys based on the issuer field in a token. I'm happy to have a callback for something specific such as this if it's required to implement a particular protocol, but I'd rather n

[2017-04-19 23:22] losinggeneration commented on #135
It makes the assumption that `https://example.com` is in your control & has a valid SSL cert for that domain. The base url is also something specifically set for that service.

[2017-04-19 23:29] csstaub commented on #135
Alright. I'm happy to accept a PR that adds a callback for fetching keys on demand.

[2017-04-26 15:38] pquerna opened #147 "Support for EdDSA"
[RFC 8037](https://tools.ietf.org/html/rfc8037) specifies a `EdDSA` signature type along with `Ed25519` and `Ed448` curves: https://www.iana.org/assignments/jose/jose.xhtml#web-signature-encryption-algorithms

[2017-04-26 15:45] pquerna commented on #147
Sorry this is a dup of #68 more or less :)

[2017-04-26 15:45] #147 closed

[2017-04-26 21:30] csstaub commented on #147
Yes, I would love to support ED25519 and ED448! I think there are already pretty good implementations for those in Go, so we'd just need to hook them up.

[2017-05-03 10:05] Bplotka commented on #142
Thx for fixing it! I got caught with the same problem. I spent like 3 days to figure out why AWS [AssumeRoleWithWebIdentity](http://docs.aws.amazon.com/sdk-for-go/api/service/sts/#STS.AssumeRoleWithWebIdentity) did not understand my ID token's `exp` claim... Every other client can parse float just fine (e.g https://jwt.io/), but on AWS I was getting unreasonable error.. `Token expired: current dat

[2017-05-03 10:26] Bplotka commented on #142
You can ignore me on that:

AWS STS server seems to be just broken if it does not accept fractional part with exponential E notation in [JSON](https://en.wikipedia.org/wiki/JSON) as number.. https://en.wikipedia.org/wiki/JSON

[2017-05-03 15:08] csstaub commented on #142
Sorry, I haven't tagged a release with the fix yet. That's why `go get` via gopkg.in still gives you the broken version. I can tag a release today. @Bplotka do you have an example code snippet for the behavior that you're talking about? i.e. where in go-jose is it serializing as float?

[2017-05-03 23:00] Bplotka commented on #142
So any unmarshaller (jose and encode/json) parses normally any number to `float64` type:
[code]
It is kind of expected, so old normalize was simply losing concrete type info. Fixed normalize helped with my case.
However during debugging it more I got caught into case where even after losing type (so having `float64` where I specified `int`) `encode/json` `Marshal` was handling my `float` which was

[2017-05-03 23:48] csstaub commented on #142
Cool. Tagged release v2.1.1 with the normalize bug fix.

[2017-05-30 20:23] etsangsplk opened #148 "jose jwt CompactSerialize() will serialze json payload with keys that are case sensitive"
JWT only required key as scope. But the jwt serializer spits out keys that are capitalized and so will cause trouble in unmarhall json if `json:"scope,omitempty"` is used
Strangely jwk.Claims does not exhibit such behaviour
It is affecting branch v2

Example
[code]

The payload:
[code]

is serialized from thw code below.
[code]

[2017-05-30 20:45] csstaub commented on #148
So what you're saying is that private claims use the struct field name when serializing instead of the name from the tag?

[2017-05-30 20:57] csstaub commented on #148
I can't seem to reproduce the problem.

I tested with the following code snippet:
[code]

In both cases, I get a claim named "scope" (lower-case):
[code]

[2017-05-30 20:57] etsangsplk commented on #148
yes. I have to do this before serialization. May be we can document?
[code]
I am using
go version go1.7.4 darwin/amd64

[2017-05-30 20:58] csstaub commented on #148
Oh, sure, you have to set the `json` tag on the field to specify the name of the field used for serialization. That's how Go's `encoding/json` library works.

[2017-05-30 21:01] csstaub commented on #148
We can add some documentation for this in the godoc.

[2017-05-31 01:34] #148 closed

[2017-06-01 18:46] etsangsplk opened #150 "[Question] how generate/set the kid of JWT?"
The JWT header kid value can be used as hint to identify on the requried Keys. I have seen others to use finger print, thumb print to set the kid.
But it is not immediately obvious how to do it in go-jose?
Can you add that in example????

[2017-06-01 18:50] csstaub commented on #150
What are you trying to do? Are you trying to set a key id in the encrypted or signed message?

[2017-06-01 19:15] etsangsplk commented on #150
Signing it.

jose.NewSigner(jose.SigningKey{Algorithm: alg, Key: key}, (&jose.SignerOptions{}).WithHeader("Key", id)WithType("JWT")) ????

[2017-06-01 19:56] csstaub commented on #150
The header for the key id is "kid". Setting a header value named "Key" obviously won't work. You should read the RFC explaining what JOSE is and how it works.

[2017-06-01 19:56] #150 closed

[2017-06-01 20:02] #142 closed

[2017-06-06 23:50] kukicado opened #151 "go-jose.v2 Expected audience length must equal claim audience?"
Hello,

At Auth0, are using the go-jose.v2 package to validate the `aud` claims in a JWT against the defined audience of our API. Being a SaaS, we have a use case where the JWT may contain multiple audiences, that our Golang application may not know about.

For example, here is a valid JWT that has an additional audience for getting the userinfo from our API

[code]

In our Golang application, the

[2017-06-07 01:09] csstaub commented on #151
Yeah, this seems like a bug.

From RFC 7519:
[code]

Would be happy to accept a PR to fix this. Square requires a CLA for contributions, please see [CONTRIBUTING.md](https://github.com/square/go-jose/blob/master/CONTRIBUTING.md) for a link to that. If you can't sign a CLA for some reason I can also fix this bug myself but it might take me a few days to get around to it.

[2017-06-07 04:46] kukicado commented on #151
Awesome thanks! I just created a PR for it.

Please let me know if you need anything else. :)

[2017-06-07 19:51] #151 closed

[2017-06-16 06:22] vsivsivsi opened #153 "V2: go get error when using gopkg.in"
When I run `go get gopkg.in/square/go-jose.v2`
`$go get gopkg.in/square/go-jose.v2`
 `#gopkg.in/square/go-jose.v2`

`../../../gopkg.in/square/go-jose.v2/encoding.go:150: undefined: base64.RawURLEncoding`
`../../../gopkg.in/square/go-jose.v2/encoding.go:161: undefined: base64.RawURLEncoding`
`../../../gopkg.in/square/go-jose.v2/jwe.go:91: undefined: base64.RawURLEncoding`
`../../../gopkg.in/square/

[2017-06-16 06:25] shaxbee commented on #153
You are probably on ancient golang version base64.RawURLEncoding is
available since 1.5

On Fri, Jun 16, 2017, 2:22 PM vsivsivsi <notifications@github.com> wrote:

[2017-08-04 18:59] jsha opened #155 "Improve handling of JWS protected headers vs unprotected headers"
Right now, protected and unprotected headers get merged into a single headers structure. This is causing an issue for us on https://github.com/letsencrypt/boulder/ as we implement the ACMEv2 API, because v2 uses protected headers exclusively, and we'd like to enforce that none of our fields come from an unprotected header.

This may be indicative of a broader issue: Consumers of JWS in general wil

[2017-08-04 21:15] csstaub commented on #155
Agree that splitting these is a good idea. We can expose protected/unprotected/merged in separate fields, and consumers can pick which one they'd like to read. Actually maybe we should get rid of the merged header set entirely but that'd break backwards compat, but could be a future change.

[2017-08-16 20:23] cpu opened #157 "JWS FullSerialize panics with *JSONWebKey Signer & EmbedJWK."
Hi folks :wave:

The [ACME protocol](https://tools.ietf.org/html/draft-ietf-acme-acme-07) built on top of JOSE/JWS allows for both requests that use JWS with embedded JWKs as well as JWS with the JWK identified by the Key ID in the signature but not embedded. In [Boulder](https://github.com/letsencrypt/boulder/)'s implementation of ACME [we choose to reject any requests that contain both types at

[2017-08-16 21:12] csstaub commented on #157
I can't think of a use-case for this, but we should probably fix the panic anyway. The library shouldn't panic like that, if there's an issue it should return an error.

[2017-08-30 09:04] christianhuening commented on #140
@csstaub You should adjust the docs, as they still say that LoadPublicKey and LoadPrivateKey are included with v2 (see: https://godoc.org/gopkg.in/square/go-jose.v2, JWS example).

[2017-08-30 17:36] csstaub commented on #140
@christianhuening You are indeed correct, thanks for pointing that out. I will update the examples to remove the references to those functions.

[2017-09-03 14:36] darkk commented on #68
As far as I see, support added in #154 is a bit incomplete, `IsPublic()` and `IsValid()` always return `false`.

[2017-09-03 21:17] csstaub commented on #68
Sounds like a bug. @darkk could you open a new issue with some steps to reproduce?

[2017-09-12 23:59] #153 closed

[2017-09-12 23:59] #135 closed

[2017-09-12 23:59] #133 closed

[2017-09-13 00:26] csstaub commented on #157
Ah, I see what the problem is. The JWK contains a private key, and that private key is stripped when copying the key id when building the signer (we don't want to accidentally embed the private key, after all). However this causes EmbedJWK to panic because the key field is now `null`. I'm probably going to fix the panic but without making it possible to do this, there's no generic API to get the p

[2017-09-13 01:27] csstaub commented on #157
Ah, actually my analysis was slightly off. The problem was the the key was wrapped in a JWK, and it was doing some operations wrong and not preserving the public key constructed when creating a recipient object for the public key.

[2017-09-13 01:43] csstaub commented on #157
Ugh, ok, this is yet another silly part of the JOSE spec. I'm going to change the implementation so that we either embed the JWK, or set the key ID, but never do both. That'll make it impossible to generate a JWS that has both the JWK with a kid and a protected header field with a kid. This unfortunately means you wont' be able to use go-jose to create silly test vectors.

[2017-09-13 13:01] cpu commented on #157
@csstaub Thanks for the analysis! I agree that this is the right fix to make. I already have my goofy test vector and it's much better to protect the API against misuse than to enable that :-)

[2017-09-13 20:22] csstaub commented on #157
Released fix in https://github.com/square/go-jose/releases/tag/v2.1.3

[2017-09-13 20:22] #157 closed

[2017-09-13 20:33] cpu commented on #157
@csstaub Great, thank you! :trophy:

[2017-09-20 09:02] NeilMadden opened #162 "ECDH-ES should use the apu/apv headers in key derivation if present"
According to https://tools.ietf.org/html/rfc7518#section-4.6.2 the ECDH-ES (and +AnnnKW variants) should use the "apu" and "apv" header parameter values (if present) in the key derivation process. Currently ecKeyGenerator.genKey() passes empty byte slices for both of these parameters, ignoring any apu/apv headers that have been set. This causes an incorrect key to be derived.

NB: it is crypto bes

[2017-09-20 09:27] NeilMadden opened #163 "No way to specify ephemeral ECDH-ES key"
As mentioned in issue #162 it is good practice to include the hashes of all public keys in the key derivation process for ECDH. This can be done (once that issue is resolved) by putting the hashes in the apu/apv claims. However, to do this the caller needs to know the ephemeral public key before encryption takes place. Currently the API does not allow this as a fresh ephemeral key pair is always g

[2017-09-20 09:30] NeilMadden commented on #163
NB - I might be able to contribute PRs for these issues, but I'd like feedback on the preferred approach first. I also need to run the contributor license agreement passed my employer (ForgeRock) first.

[2017-09-20 18:40] csstaub commented on #163
Your approach to add a callback sounds reasonable to me. Happy to accept a pull request to add that.

[2017-09-20 18:47] csstaub commented on #163
FYI: Square also has a corporate CLA if your employer prefers that over the individual one, just email opensource@squareup.com to get that set up.

[2017-09-20 19:44] csstaub commented on #162
Looking at the code, `ecDecrypterSigner#decryptKey` takes APU/APV values into account when decrypting a message that uses ECDH-ES. Are you requesting that it be possible to set custom values for APU/APV values during encryption? How have you been trying to set them?

[2017-09-20 19:46] csstaub commented on #162
Setting them to a deterministic value (e.g. public key hash) would be pretty easy, but allowing custom header values to be passed through would require a bit more work because it would break the existing interface.

[2017-09-29 09:10] NeilMadden commented on #163
Thanks, I'm still getting sign off, but it looks like it shouldn't be a problem. In the meantime, we have a working (hacked together ;-) ) fork that uses callbacks for this. We have a deadline approaching, but I will try and find time to polish up a PR in the next week or so.

[2017-10-04 18:35] darkk commented on #68
Heh, seems, I was late. I see that it's already fixed. Thanks, @csstaub! :-)

[2017-10-04 22:32] csstaub commented on #68
Yes, this should work now (for ed25519). It's still fairly new, let us know if you run into issues with it.

[2017-10-04 22:32] #68 closed

[2017-12-21 01:28] nitecoder commented on #140
@csstaub , can you please suggest a library that would be a good replacement for these functions (if such exists)?

[2017-12-21 04:45] csstaub commented on #140
There are functions for loading public/private keys in the Go standard library, e.g. in [crypto/x509](https://golang.org/pkg/crypto/x509). Is there a particular format of key that you're trying to parse that's not covered in there?

[2018-01-24 18:58] mikedanese opened #169 "No way to read issuer without verifying a JWT"
I would like to read the issuer claim of a JWT before and possibly without verifying the signature of the JWT. For this I need some access to an unverified payload. I understand that the library is designed to disallow access to unverified JWS content, but it prevents some reasonable usecases. Is this not possible with the current API or am I missing something? Is it possible to support this useca

[2018-01-31 21:11] pquerna commented on #169
FWIW we also have a use case where we need to access the unverified headers.  Adding accessors to `JSONWebSignature` would be minimally helpful;

We can do this in our own code of course: Hacking together a compact form parser isn't that hard -- just period splitting / base64 decoding, but would prefer to keep things in the jose.v2 types if I could.

[2018-02-27 11:07] jamie-digital opened #171 "Build/test error with go1.10"
Go1.10 runs reliable `go vet` checks during `go build` and `go test`. This identifies the following problem:

[code]

./crypter_test.go:405:

[code]

Fix:

[code]

[2018-02-28 00:14] csstaub commented on #171
Thanks! Fixed via #173

[2018-02-28 00:14] #171 closed

[2018-03-22 21:11] nim-nim opened #176 "jwk_test.go:609: Errorf call has arguments but no formatting directives"
1.10 does not pass unit tests with Go 1.10, and some projects still use it. Please release a gopkg.in/square/go-jose.v1 that is GO 1.10 ready

[code]

[2018-03-22 21:31] csstaub commented on #176
I recommend switching to v2.1.4, which is ready for Go 1.10. That said, I can patch and release a new v1.1.1 that runs on Go 1.10 if you really need it.

[2018-03-22 23:30] nim-nim commented on #176
1.1.1 would be really nice, as long as other projects have not switched to v2 :(

[2018-03-23 00:51] #176 closed

[2018-03-23 00:54] csstaub commented on #176
Ok, fixed & released in tag v1.1.1

[2018-03-23 09:45] nim-nim commented on #176
Thanks a lot !

[2018-05-16 01:28] mmccormack-scwx opened #182 "Validate input to crypto/aes to avoid panic when JWT has been tampered with"
gopkg.in/square/go-jose.v2

In cases where the input to jwt.ParseEncrypted() may be corrupted or tampered with, the subsequent call to Claims() may panic;

panic: cipher: incorrect nonce length given to GCM [recovered]

Ideally we'd avoid a panic state in a server scenario ingesting and parsing JWT headers that may be tampered with (e.g. during pentesting).

repro:

[code]

[2018-05-16 12:13] mmccormack-scwx commented on #182
Looks good, thanks very much.

[2018-05-16 12:13] #182 closed

[2018-05-23 21:06] petercgrant opened #184 "It is not possible to implement Signer outside of jose"
`jose.Signer` is an interface with `Sign(payload []byte) (*JSONWebSignature, error)`

`JSONWebSignature` is a struct where `payload` is unexported.

[2018-05-23 21:25] petercgrant opened #185 "Signing method missing: none"
The signing method `none` is not implemented. The JWS and OpenID specifications define and use `alg: none`, but there is no support for it in this library.

[2018-05-23 21:55] csstaub commented on #185
The "none" signing method is imo a misfeature of the standard, and we won't be implementing it in this library.

[2018-05-23 21:58] csstaub commented on #184
That's true, but what's your use case here? Why are you trying to roll your own implementation of the signer logic? If it's just for testing you can return a pre-fabbed JWS, or a dummy/empty JSONWebSignature struct

[2018-05-23 22:39] csstaub commented on #184
I don't see why you'd need to implement the entire jose.Signer interface for that, you can delegate the actual signing to a real instance of the jose.Signer interface from the lib with just the right key or you can implement https://github.com/square/go-jose/tree/v2/cryptosigner if you have your keys in an HSM or such.

[2018-05-24 01:13] petercgrant commented on #184
cryptosigner is not present in gopkg.in/square/go-jose.v2, which is what github.com/coreos/go-oidc imports. Thank you for your patience. I can take it from here.

[2018-05-24 01:13] #184 closed

[2018-05-24 18:22] csstaub commented on #184
Yeah, it's not tagged in a release yet, but it will be in the next release when I tag it. You could pull from master in the meantime to do development on it.

[2018-05-25 02:19] petercgrant commented on #184
cryptosigner didn't work for me either because the payload is already hashed before calling the signer. I settled on doing the signing outside of this library. I'm using a KMS that performs RS256 as a service (and not much else), so passing it a hashed payload would double-hash it and give the wrong signature. Thank you for the suggestions.

[2018-05-25 02:56] petercgrant commented on #185
This is the best I can do: if you need to log a JWT and later process log entries containing the JWT, perhaps you would mask some claims and remove the signature (i.e. sign it with method none). It's nice that it still parses correctly as a JWT. It's hardly compelling because who logs JWTs anyway?

I wonder what uses for it they imagined when developing the standard because nearly everything I can

[2018-06-27 20:43] jakelacey2012 opened #187 "How do I decode a JWE with a secret which is a string"
I have a silly question which I'm struggling to find the answer at looking at the docs, my question is how do I decode a JWE with a secret which is a string?

[2018-06-27 21:13] csstaub commented on #187
I'm sorry, I'm not sure I understand your question. But if you're struggling with the docs to the library I would recommend using something simpler, like `nacl` or `libsodium`. This library isn't really meant as a general-purpose encryption/decryption library, it's more for implementing protocols that are standardized to use JOSE message formats. If you just want to encrypt/decrypt some data other

[2018-06-28 09:16] jakelacey2012 commented on #187
Thanks for the quick response, I'll have a look at those libraries.

But effectively I'm looking for the equivalent of this https://www.npmjs.com/package/node-webtokens in go `jwt.parse(token).verify(key);`

[2018-07-01 12:54] farisfaisall opened #188 "555-555-0199@example.com"

[2018-07-01 15:55] #188 closed

[2018-07-06 23:02] cybrcodr opened #189 "Go1.11 crypto changes in RSA key generation will break TestVectorsRSA"
The following Go 1.11 CL will break TestVectorsRSA.
https://golang.org/cl/64451 crypto: randomly read an extra byte of randomness in some places

Per CL description ...
"""
Code has ended up depending on things like RSA's key generation being
deterministic given a fixed random Reader. This was never guaranteed and
would prevent us from ever changing anything about it.

This change makes certain ca

[2018-07-06 23:18] mcpherrinm commented on #189
Thanks for filing this ahead of go 1.11 release :)

[2018-07-07 18:34] csstaub commented on #189
We can probably just delete that test. It's not that important, other tests cover that functionality more than enough.

[2018-07-17 17:44] maikelmclauflin opened #192 "Opaque Signer Issue. Probably just doing it wrong."
I seem to be having difficulty using hashicorp's [vault](https://github.com/hashicorp/vault) with go-jose and was wondering what I am doing wrong with this snippet. It seems that I am just not quite understand something about v2's opaque signers or if I simply need to feed it different information.

	client, err := vaultsigner.Connect()
	vSigner, err := vaultsigner.New(client, *requestSigningKey)

[2018-07-25 13:08] dmercer-google opened #193 "There is no support for non native Golang keys, non standard algorithms and alternate entropy sources."
tl;dr but I am trying to make a case for why this is important.

There are many instances where the keys, algorithms and the entropy source required to sign a JWT are not supported by Golang and go-jose.  [Issue #25](https://github.com/square/go-jose/issues/25) is an example of one such case.

Some examples of unsupported key types include:
* PKCS11 keys (e.g. those provided by [miekg/pkcs11](http

[2018-07-25 14:38] alokmenghrajani commented on #193
I agree with the general idea of being more flexible when it comes to algorithms/HSMs.

nCiphers do expose a pkcs11 API. Moving a key from one application to another is possible (e.g. from java key to pkcs11 or vice versa), albeit painful.

[2018-07-25 14:57] dmercer-google commented on #193
@alokmenghrajani

The nCipher PKCS11 implementation is an incomplete implementation of v2.2 and is this lacking in several areas, despite the underlying hardware having support for the v2.4 mechanisms and algorithms.  I've a lot of experience with nCipher and have basically given up on their P11 drivers and I now live in ncore hell.

[2018-07-25 21:10] csstaub commented on #193
Per discussion in #194, this is already supported on v2 through the OpaqueSigner interface. Hence closing this issue.

[2018-07-25 21:10] #193 closed

[2018-07-31 19:48] jkeys089 opened #197 "Signer safe for concurrent use?"
I'm wondering if it is safe / recommended to re-use a `jose.Signer` across goroutines / threads (e.g. in an http request handler)?

[2018-08-01 17:35] jkeys089 commented on #197
Gotcha. Thanks for the reply!

[2018-08-01 17:35] #197 closed

[2018-08-06 15:30] pavlo opened #198 "Need to be able to specify a custom IV for A128GCM"
Hey guys, I have a requirement that prescribes to set a certain IV (initialization vector) while A128GCM is used.

Reading the sources I narrowed to https://github.com/square/go-jose/blob/v2/symmetric.go#L236 which generates a random IV and it looks like there's no "official" way setting a custom one there.

What approach would you recommend to follow? Is there any hint you would give to help me w

[2018-08-09 14:45] maikelmclauflin commented on #192
seems like it was my implementation around it. thanks for the feedback!

[2018-08-09 14:45] #192 closed

[2018-09-11 10:03] meomap opened #199 "Link at gopkg.in is dead"
When access link at
[code]

Only display:
[code]

That cause `go get` command to fail

[2018-09-11 10:08] meomap commented on #199
Link up again. thanks 🎉

[2018-09-11 10:09] #199 closed

[2018-09-13 15:37] epelc opened #200 "Potential jwe key leak with gcm after 2^32 encryptions?"
So I've been looking into symmetric encryption lately with aes-gcm and through my reading I found out that GCM leaks your encryption key if you reuse the same nonce to encrypt two pieces of data. In practice you can't use the same key more than 2^32 times before you are at great risk.

I didn't find any mention of this on the package docs or in the code. You will only be lead down this rabbit hole

[2018-09-13 18:51] epelc commented on #200
Thanks Cedric! I agree on the database uses. I’ll have to read up more on
key wrapping, it’s new to me.

I was more concerned with the docs but this issue may do. I guess people
should look up the algorithms they are using first and it’s unlikely for
real use cases to hit this.

On Thu, Sep 13, 2018 at 14:22 Cedric Staub <notifications@github.com> wrote:

--
Best regards,
Edward J. Pelc
*President

[2018-09-13 18:51] #200 closed

[2018-09-19 20:26] Everlag opened #202 "Include precomputed RSA values in JSONWebKey.MarshallJSON"
Currently, go-jose doesn't copy over the pre-computed values(`dp`, `dq`, `qi`) if they exist on that key.

https://github.com/square/go-jose/blob/v2.1.8/jwk.go#L488

This results in an incompatibility with [node-jose](https://github.com/cisco/node-jose/issues/77). This is a rather difficult to debug issue given the opaque error node-jose generates, `unsupported algorithm`

I'm preparing an associa

[2018-09-20 19:12] Everlag commented on #202
Resolved in https://github.com/square/go-jose/pull/203

[2018-09-20 19:12] #202 closed

[2018-09-23 17:55] csstaub commented on #202
Released in v2.1.9

[2018-11-09 23:12] alokmenghrajani opened #204 "dir encryption does not check key sizes"
If your key size is too short (e.g. 16 bytes), you can accidentally encrypt something with AES-128 but the JWE tag will be A256GCM. We should instead raise an error.

[2018-11-11 04:34] #204 closed

[2018-11-18 16:17] tommyseus opened #206 "A256CBC_HS512 and AuthTag length"
Hello, i have a problem with the generated token and a php jwt lib.

[code]

This code will create a raw string with a short auth tag (D2IoqyKAhOnv_5_mKB3PbQ):
[code]

It is not possible to use this token with the following php script. The php code throws a exception (the exception is ignored) and the payload is empty.

Exception: InvalidArgumentException: Unable to verify the tag.

[code]

I thin

[2018-11-20 01:33] csstaub commented on #206
Hi @tommyseus, that's looks like a bug indeed! According to RFC 7518 Section 5.2.5 the auth tag length should indeed be the key size. I can make a quick pull request to fix this.

[2018-11-20 01:40] csstaub commented on #206
See: https://github.com/square/go-jose/pull/207

[2018-11-20 01:43] csstaub commented on #206
The pull request above will fix the issue, but in the meantime I would recommend using AES-128-GCM (or AES-128-CBC-HMAC) as a cipher. [GCM](https://en.wikipedia.org/wiki/Galois/Counter_Mode) is superior to CBC+HMAC, and a [128-bit key is sufficient for all practical use-cases](https://crypto.stackexchange.com/questions/20/what-are-the-practical-differences-between-256-bit-192-bit-and-128-bit-aes-e

[2018-11-20 01:46] #189 closed

[2018-11-20 01:48] #187 closed

[2018-11-20 01:48] #185 closed

[2018-11-20 01:49] #169 closed

[2018-11-30 01:40] csstaub commented on #206
Fix is in 2.2.0, please reopen if you continue to experience issues @tommyseus.

[2018-11-30 01:40] #206 closed

[2018-11-30 01:41] csstaub commented on #198
Can you expand on this use-case? You want to set a custom IV, presumably in DIRECT mode where you also control the key that is used for the content cipher? I'm not sure that's something we'd want to add, it sounds like it would be a sharp edge and I can't think of a good reason one would want to do this. JOSE already has lots of sharp edges just from the way the standard is written, I'd like to av

[2018-11-30 01:43] csstaub commented on #155
Closing this out, was fixed in #164.

[2018-11-30 01:43] #155 closed

[2018-12-05 12:40] thalesfsp commented on #119
@zamicol @csstaub What's the status of this issue? Thank you!

[2018-12-06 04:31] nkristianto opened #211 "Do not set kid header if empty string"
i am sign using JWS and found in the header part, "kid" value is always included
is there a way to exclude this header?

[2018-12-06 07:11] csstaub commented on #211
Sorry, it's unclear to me what you're talking about. Do you have code to reproduce the issue?

[2019-01-28 13:52] shaxbee opened #215 "Support JSONWebKeySet in JSONWebEncryption.Decrypt"
I plan to implement support for JSONWebKeySet as argument to simplify usage with OpenID provided keysets. Would you be interested in pull request?

[2019-01-28 21:56] csstaub commented on #215
Hi @shaxbee, we're always interested in quality pull requests :) I'm not familiar with the particular use-case here, but if you think it's useful it sounds good to me.

[2019-01-31 05:51] bang9211 commented on #211
I found the issue.
After I signed and fullseirialize some data, kid header is created in protected header.
if you decode the protected header using base64 “kid”:”” is existed even I didnt make it.
it is caused the part of relation with jwk.

[2019-02-02 18:28] evanj opened #216 "Reject tokens issued in the future (Issued At/iat validation)"
The function `jwt.ValidateWithLeeway` checks the times on the `nbf` and `exp` claims. It does not check the `iat` claim. The standard [RFC 7519 states that this field is *optional*, and *does not require* that the time on this field be checked](https://tools.ietf.org/html/rfc7519#section-4.1.6). However, if it is issued in the future, something suspicious is happening. It seems to me that it would

[2019-02-02 23:49] csstaub commented on #216
Agree, I prefer the library being strict rather than lenient on checks, we should validate `iat` if it’s present in the JWT to ensure it’s not issued in the future (probably also applying the leeway since clocks can be slightly out of sync sometimes). Happy to accept a pull request for this!

[2019-02-04 20:32] #216 closed

[2019-02-23 23:53] nelz9999 opened #219 "Allow tokens that do not have expiry set"
Expiry "exp" is an OPTIONAL claim, as per the spec: https://tools.ietf.org/html/rfc7519#section-4.1.4

Expiry should not be a failing case if unset, even if the Expected.Time is non-zero.

Here's a unit test to show what's wrong:
[code]

And the output of the test:
[code]

In `jwt/validation.go`, I believe this line:
[code]

Should be:
[code]

(I suspect there's a similar logical problem with the

[2019-02-24 00:12] nelz9999 commented on #219
Or... Maybe you've already done it via: https://github.com/square/go-jose/commit/985395ef3b634972a0a831dbc22a1ae9078c5607

Cool. Thanks!

[2019-02-24 03:52] csstaub commented on #219
Does your test pass with that commit? If not, let me know. I will tag a release soon with that change included.

[2019-02-24 18:58] nelz9999 commented on #219
Huh, you're right... I guess that doesn't fix the issue...

[code]

[2019-02-24 19:02] nelz9999 commented on #219
So, I guess the suggested change would be to have a `nil` check around the `c.Expiry` evaluation, rather than checking it for `IsZero()`.

[2019-03-01 18:24] stefanberger opened #222 "Support for KMIP"
I am currently working on a [KMIP client library](https://github.com/stefanberger/go-kmip/) for golang. Would you accept support for KMIP?

 In case you don't know KMIP, it is similar to PKCS#11 and allows one to talk to an HSM for remote execution of crypto operations. The specs for KMIP 1.2 are [here](http://docs.oasis-open.org/kmip/spec/v1.2/os/kmip-spec-v1.2-os.html).

Support for KMIP in go-j

[2019-03-01 18:45] mcpherrinm commented on #222
Yeah, KMIP would be fine.

[2019-03-11 16:30] stefanberger commented on #222
This is how kmip support for RSA keys could look like: https://github.com/stefanberger/go-jose/commit/ba44d9e73a04017b21cf0e1ed605e4535d2f7d45

One issue is that I am not aware of publicly KMIP servers that can be used for testing in a CI/CD environment.

[2019-03-14 22:35] csstaub commented on #222
Hi @stefanberger, that code looks pretty good! Instead of testing with a live KMIP server, maybe just mock out those parts of it? Then we can at least test the part of go-jose is correct.

[2019-03-15 14:10] stefanberger commented on #222
The kmip client library falls back to local processing of the crypto operation using co crypto if the server doesn't support RSA signing or decryption for example. But it expects to be able to pull the private key from the server then... No sure how we can mock this.

[2019-03-15 19:12] csstaub commented on #222
I was thinking we could mock out the client library itself, not the server, so it just tests the code in go-jose. But actually that might be tricky too, not sure. We could still accept the code even if the testing is only minimal, and I’ll just mention that support is experimental in the release notes.

[2019-04-03 07:35] philtay opened #223 "Go modules support"
what about this plan?
* v2 branch should be merged back to master
* add `go.mod` and `go.sum` files in the repository root (master)
* cut new release

[2019-04-03 17:24] mbyczkowski commented on #223
I think it would be great to eventually move go-jose to use Go modules and just use master branch for development (as opposed to `v1` and `v2`). However we want to be careful, so people using old imports (like `gopkg.in/square/go-jose.v2`) still get the updates without making code changes.

This could be a good time to create a `v3` release and figure out support plan for `v1` and `v2`(would they

[2019-04-03 17:33] csstaub commented on #223
I agree with @mbyczkowski's assessment, since Go modules support gopkg.in import paths go-jose should already work for people using Go modules for their code. If we were to switch to Go modules for the repo we'd probably do it in a v3 release but I don't see a benefit to that, at the moment.

[2019-04-05 17:52] danielchatfield commented on #198
@csstaub It's required for EMV 3D Secure V2 which is soon going to be a spec that every merchant in Europe will have to (indirectly) implement.

Would you recommend we fork?

[2019-04-05 20:13] csstaub commented on #198
@danielchatfield If there's a real usecase for it I'm happy to merge support for it, we just have to be careful about the API design. If you have a mock API / proposal I'd love see it!

[2019-04-05 22:08] shaxbee commented on #223
Go module support would enable caching go-jose in proxy (such as gocenter.io)
dramatically reducing build times which is crucial for CI.

On Wed, Apr 3, 2019, 7:33 PM Cedric Staub <notifications@github.com> wrote:

[2019-04-06 00:12] csstaub commented on #223
That's good to know, I wasn't aware of that. Maybe makes sense to plan a v3 then.

[2019-04-07 16:32] philtay opened #225 "Support the "b64" header parameter"
https://tools.ietf.org/html/rfc7797#section-3

Currently there is no way to sign the payload *not* encoded in base64. That's a serious limitation when the service you're sending the signatures to requires `b64=false`. If `SignerOptions.ExtraHeaders` has `b64` key with a `false` value then the payload should not be encoded.

[2019-04-10 17:03] SteelPhase opened #226 "Can the Public functions of jwk-keygen be moved into another package to allow importing of them."
I was going to attempt to use them to write some unit tests in a package of mine, and it would be really nice if I didn't have to copy and paste them.

[2019-04-16 23:56] dodgeware opened #228 "jwe using Curve P521, ECDH-ES, and A256GCM does not always work with with other implementations"
I am not able to encrypt/decrypt within Java and Go using Curve P521, ECDH-ES, and A256GCM using the same values for curve X, Y, and D. When I try to take the encrypted value from Java and Decrypt in Go it fails (about half the time) and vice versa it fails with:

Go: square/go-jose: error in cryptographic primitive

Sometimes it works though.

I am manually creating the KeyPair in both programs w

[2019-04-16 23:59] csstaub commented on #228
Can you give us more information to help debug?
* What version of Go and go-jose are you using?
* What library are you using in Java to perform the JWE operations?
* Do you have example messages/ciphertexts to test?

[2019-04-17 00:11] dodgeware commented on #228
go version: go version go1.11.8 darwin/amd64
go-jose version from go mod: gopkg.in/square/go-jose.v2 v2.3.1

Java Libraries POM:

		<dependency>
			<groupId>com.nimbusds</groupId>
			<artifactId>nimbus-jose-jwt</artifactId>
			<version>7.0</version>
		</dependency>
		<dependency>
			<groupId>org.bouncycastle</groupId>
			<artifactId>bcprov-jdk15on</artifactId>
			<version>1.61</version>
		</depend

[2019-04-17 00:16] dodgeware commented on #228
Here is a sample encryption (just keep running the java program encrypting the same text) that works:

eyJlcGsiOnsia3R5IjoiRUMiLCJjcnYiOiJQLTUyMSIsIngiOiJBTWpjeWNSNW9yWW9sRDZoa1ByM0NGVlVHNm8tRjVreFNpNHJ4dUNGVXNsRGcwUTg1Q2lJWXJtZmRuR1MzblZoR3lvV0RXVEJTakpJTXpoV3ZSWDV0ODZEIiwieSI6IkFYRk82TklsNFY2MnB2OGhGY0kwRk14QWFmbkZ0MDQxSzJSUFlEYks1TG5rZFRtOXgwcGdiWlk5ck9rdEpTdXZUMnk2WGdfS0tNTjhqdk9OaE1ZdDJkV20if

[2019-04-17 00:27] csstaub commented on #228
Is that encrypted with (to) the same key as the broken one?

[2019-04-17 00:29] dodgeware commented on #228
Yes

[2019-04-17 00:37] csstaub commented on #228
Taking a quick look I don't see any obvious differences. Can you try this with P-256 instead of P-521? I have a suspicion that the bug might stem from the fact that the x/y params must be padded, and the 521-bit x/y values from P-521 don't round nicely to a byte boundary. It looks like the x/y values in the header are, indeed, 66 bytes in length, but maybe they were padded incorrectly.

[2019-04-17 00:52] dodgeware commented on #228
I have run it 5 times with no errors using P-256.  That never happened using P-521.  The problem is I have to use P-521 to be compatible with client applications.

[2019-04-17 17:02] csstaub commented on #228
That means there's likely a bug in how either go-jose or nimbus-jose-jwt handles the padding on the 521-bit ephemeral key embedded in the header.

Here's the X and Y of the EPK on the working ciphertext:
[code]

And here's the broken one:
[code]

Unfortunately I don't see an obvious difference here. I don't have a Java env set up right now, could you instrument nimus-jose-jwt such that it dumps th

[2019-04-18 12:18] dodgeware commented on #228
Got your message.  I will but it will be a little while.  Got pulled in another direction.

[2019-04-18 16:34] Spomky commented on #228
Hi,

As commented in [this SO question](https://stackoverflow.com/questions/55711277/why-do-i-get-an-error-decrypting-jwe-between-java-and-go), the EPK looks to be on the curve. My assumption is that the agreed key is wrongly computed.

Can you compute the key agreement for the following keys?

Key 1 => `{"kty":"EC","crv":"P-521","x":"BaugQuRCQzkSQ46nXbRFxp4mrHajnEuVT0YCHheuNQzMp7y7pVNL30ABSBtNSi5

[2019-04-18 18:17] csstaub commented on #228
I can try that, but the computation path for P-256 and P-521 is the same. Given that it works with one curve but not the other I'm skeptical that the issue is in there, I believe it could be an issue with how the X/Y values are parsed or serialized on one or the other side. For the JWKs posted above, what are the X/Y values in decimal that the Java library had parsed (generated) at runtime?

[2019-04-18 19:38] csstaub commented on #228
@Spomky What are the alg-id, apu/apv, values you used for that key derivation?

[2019-04-18 20:09] Spomky commented on #228
I’m not convinced the issue comes from the serialization of the point.
Decimal values are:

* x(Key 1): `76027823716625994586287801504354590904740274333306306229831335861872211046533430383183170729063777452517027314173449219074203783288553453189324501763691345`
* y(Key 1):
`50442893890073781393683771203874152308917717947579270399678123981776567912149653513960928335215136503128278102860514813482724

[2019-04-18 20:43] csstaub commented on #228
Tried to reproduce that, but wasn't able to. The keys you posted seem to have X/Y values that are of the incorrect length:
[code]

All of these need to be correctly padded to 66 bytes for P-521, as 521/8 = 65.125, which yields 66 bytes rounded up. See here: https://tools.ietf.org/html/rfc7518#section-6.2.1.2

[2019-04-19 10:53] Spomky commented on #228
Indeed that’s correct. Here are the correct keys:

* `{"kty":"EC","crv":"P-521","x":"AAWroELkQkM5EkOOp120RcaeJqx2o5xLlU9GAh4XrjUMzKe8u6VTS99AAUgbTUouRAbMmpfA1B7GCCFwJmouexNR","y":"AXg4ZO6W6AYx-B_CTS_HlIId4aLuAZATtNG6ythg8FxwOWbtmzP86bAbvigQ_GSbGskoodEkkFlFf7OZ0n1g9VPc","d":"AAWSN5q-Ia3ZSui169xWf1xxSXrdv4gykULJrQHc4_jDIyA8g9yrpWecKYNqBuZ-KEtU-MEzIgqYPokFkmh-29cy"}`
* `{"kty":"EC","crv":"P-521","x":

[2019-04-19 16:41] csstaub commented on #228
Thanks @Spomky. I'm getting the same results for ECDH as you are:
[code]

Here's the test code I ran:
[code]

[2019-04-19 16:43] csstaub commented on #228
So, this bug is still a bit of a mystery. @dodgeware I'd be curious to know what the internal X/Y values are in the Java version and what algorithm id is passed to the derivation. Maybe there's a disagreement there somewhere.

[2019-04-22 13:18] dodgeware commented on #228
I am not available to do this right now.  As soon as I get time to come back to this I will.

[2019-05-06 11:29] aeneasr opened #229 "Add "kty" to jose.JSONWebKey"
While fields like `kid` or `alg` are added to `jose.JSONWebKey`, `kty` is not. In some cases however (e.g. when fetching JWKs from remote) it is important to have that information available. I therefore suggest to add the `kty` field to `jose.JSONWebKey`.

[2019-05-06 17:29] csstaub commented on #229
To a certain extent, you can get this information by looking at the type of the key embedded in the struct, e.g. to see if it's *rsa.PublicKey or *ecdsa.PrivateKey etc. Would that address your particular use-case?

[2019-05-07 10:07] aeneasr commented on #229
Yup, but that needs a larger type assertion with all the different Public/Private types - wouldn't it be easier to just add the `kty` field which is available per default?

[2019-05-07 17:33] csstaub commented on #229
I'd be happy to expose `kty` also, just wanted to note an alternate solution you could use in the interim. I don't have a lot of time on my hands right now but if you send me a pull request I can merge it in and release.

[2019-05-07 18:23] mbana commented on #225
Hello, I'm also interested in this issue. Is there a workaround that one can use?

[2019-05-07 18:44] csstaub commented on #225
This is not supported at present, and I have no plans to implement this. However, pull requests to add support for this are welcome.

[2019-05-07 19:02] mbana commented on #225
@csstaub does this look like the right place to add the check https://github.com/square/go-jose/blob/v2/signing.go#L257. Sorry, I am familar with the library as I just started using it today. I will give it a try nevertheless.

[2019-05-08 23:19] csstaub commented on #225
That's roughly the right place for signing, but you'd also need to implement it in Verify so message signed with b64=false can be read correctly.

[2019-05-09 19:27] philtay commented on #225
@mbana this ugly hack works for signing with `b64=false` (but not for verifying, of course): https://github.com/philtay/go-jose/commit/2f5574262d8d56cff66a1da6a916073856a0b111
I think the `b64` header should be supported by the `SignerOptions` struct.

[2019-05-10 10:37] mbana commented on #225
Thanks. Yeh, I figured out how to do it. I'll track to make a pull request when I have time.

**Branch:** https://github.com/banaio/go-jose/tree/v2_support_the_b64_header_parameter_issue_225
**Diff:** https://github.com/square/go-jose/compare/v2...banaio:v2_support_the_b64_header_parameter_issue_225

Use case:

* https://medium.com/syntaxa-tech-blog/open-banking-message-signing-b4ab4f7f92d1
* http

[2019-05-10 11:36] philtay commented on #225
@mbana if you make the PR today we can work on it together. i have some spare cycles till Monday

[2019-05-13 07:52] aeneasr commented on #229
Same here, I'll try to look into it however!

[2019-05-16 11:55] silasdavis opened #233 "Policy on breaking changes"
I noticed a breakage on updating some of my dependencies that both depend on go-jose. It turned out was due to this change: https://github.com/square/go-jose/commit/985395ef3b634972a0a831dbc22a1ae9078c5607

I would also have been reluctant to go to v3 for such a small change, but strictly this was a breaking change to the public (i.e. exported) API. If a v3 designation had been used they could hav

[2019-05-20 23:23] csstaub commented on #233
Hi @silasdavis, you're right, that probably should have been flagged more explicitly. That was my mistake. We won't be publishing anymore breaking interface changes without bumping the major version. One thing I'm curious to ask, how do you feel about possibly breaking changes to bring the library in line with the JOSE standard? We've previously had bugs that caused incompatibilities that we fixed

[2019-05-21 07:57] #225 closed

[2019-05-22 21:27] mbyczkowski opened #236 "V3 release ideas"
We've had some prior discussion about supporting modules (#223) and there was a concern about versioning policy (#233). Since we know we want to support Go modules, and this very likely mean bumping of the major version for go-jose, this might be a good place to discuss any breaking changes (including API cleanup) that we'd like to introduce in the next major release.

[2019-05-22 21:52] philtay commented on #236
IMO the first thing to do is to freeze the 'v2' branch in order to avoid backward incompatible changes. You could release the last version of the v2 line, barring future patch releases for security and bug fixes. New code will land exclusively on the 'master' branch and the project will dismiss 'gopkg.in' in favor of semver and Go modules.

[2019-05-24 16:14] #219 closed

[2019-05-24 16:15] csstaub commented on #236
I agree with this. Let's do it.
* I merged v2 into master and updated imports paths, so we can switch over to Go modules now.
* I will release a final v2 with and then henceforth v2 shall be frozen except for security fixes.

Once we merge Go module support onto master we can release that as v3.0.0. I'm not sure we need any interface changes at this moment, but I'm open to ideas. One thing I'd lik

[2019-05-24 17:03] mbyczkowski commented on #236
Sounds good to me. We can always create a few pre-releases (either `2.99` or `3.00-pre`) as we figure things out.

[2019-05-24 17:07] csstaub commented on #226
We'll merge this into jose-util in v2. Not sure we should expose these to the public however.

[2019-05-24 17:07] #226 closed

[2019-05-24 17:08] csstaub commented on #215
Merged in #218

[2019-05-24 17:08] #215 closed

[2019-05-24 17:12] csstaub commented on #211
Actually looks like we fixed this in #227

[2019-05-24 17:12] #211 closed

[2019-05-24 17:14] csstaub commented on #144
Might make sense as a v3 change. Wdyt @philtay @mbyczkowski @mcpherrinm?

[2019-05-24 17:15] #56 closed

[2019-05-24 17:15] csstaub commented on #25
Should be possible to do this now via the opaque signer interface

[2019-05-24 17:15] #25 closed

[2019-05-24 17:16] #70 closed

[2019-05-24 18:09] mbyczkowski commented on #236
Also, this will be a good time to decide if we want to adopt https://semver.org/ and maybe even https://keepachangelog.com/. I think with Go modules, there's no reason why we shouldn't bump the major version more frequently as we introduce breaking changes.

[2019-05-25 09:30] philtay commented on #144
+1 for the second idea (exposed payloadVerifier). The first one sounds good in theory, but in practice it would mean to also duplicate `DetachedVerify`, `DetachedVerifyMulti` and `VerifyMulti` for a total of 16 new methods.

[2019-05-28 14:47] 0x13a opened #240 "Add support for x5u field in rawJSONWebKey struct"
I'd like to parse a json web key which has a `x5u` field as compliant with the rfc spec https://tools.ietf.org/html/rfc7517#section-4.6

However looks like this specific field is not available in the struct

[code]

Is there something I am missing or is the x5u field really not being parsed?

Regards

[2019-05-28 17:32] csstaub commented on #240
It's not populated in the struct at the moment. But it should be easy to add if you need it, please open a pull request against `master` (we're currently prepping that for v3 release).

[2019-05-28 20:10] csstaub commented on #229
Looking into this, we set the `kty` from the type fo the key when marshalling into JSON. If we expose the key type directly, it would be possible to set up a JSONWebKey struct where the type of key and the string in kty conflict. What should we do then?

[2019-05-29 21:40] 0x13a commented on #240
merged https://github.com/square/go-jose/pull/242 - thanks @csstaub

[2019-05-29 21:40] #240 closed

[2019-05-30 20:05] 0x13a commented on #236
what about exposing most used Header parameters thru an interface/method?
eg.

[code]

[2019-05-31 18:30] csstaub commented on #228
I managed to reproduce this with jose4j, here's what I found.

First, the code to repro:
[code]

* P-256 and P-384 work fine, and all internal values match what Jose4j sees.
* For P-521 the X/Y/D inputs into the ScalarMult call appear to match the Jose4j inputs.
* The produced shared secret, Z, returned in Go is different than the one returned in Java.
* Other than that I found no discrepancies, t

[2019-05-31 19:59] csstaub commented on #228
Looks like the two other popular JOSE libraries I was able to find (lestrrat-go/jwx and dgrijalva/jwt-go) don't seem to support JWE+ECDH-ES, if someone knows of another JOSE library written in Golang please let me know.

[2019-05-31 22:01] csstaub commented on #228
Alright, I figured it out. It was cutting off the first byte of the Z value returned from the scalar base mult giving us a 65-byte array as opposed to a 66-byte one because calling z.Bytes() on a big integer strips the leading zero. This caused input to the the KDF to be incorrect as a result. I'll open a pull request in a sec.

[2019-06-01 01:36] dodgeware commented on #228
That is great.  I appreciate the effort.  I have not been able to get back to this so this news is great.

[2019-06-01 04:34] mbyczkowski opened #246 "Proposal: Use semantic versioning"
As we're adopting Go modules with the upcoming version 3 of go-jose, it might be a good time to adopt semantic versioning (specifically https://semver.org/spec/v2.0.0.html).

Benefits:
- Semver clearly communicate intent with each release (especially with regards to breaking changes)
- Go modules utilizes semver already ([more here](https://github.com/golang/go/wiki/Modules#semantic-import-version

[2019-06-01 11:03] philtay commented on #246
AFAIK using Go modules + semver means to never have to change import paths again. The version is specified in the `go.mod` file and it's independent from the path.

[2019-06-01 11:04] #223 closed

[2019-06-03 20:09] csstaub commented on #246
I agree with the proposal @mbyczkowski.

@philtay: I think Mat B. is right here, if I understand https://github.com/golang/go/wiki/Modules#semantic-import-versioning correctly the version will need to be part of the import path like `import "github.com/square/go-jose/v3"`. So if we'd want to bump to v4, it would change to `import "github.com/square/go-jose/v4"`. Right?

[2019-06-03 20:13] #228 closed

[2019-06-03 22:34] mbyczkowski commented on #246
Correct, the wiki page says:

So if a library is unversioned, unstable or on 1.x release, the import path would not include the major version. V2 and higher means manually updating import paths.

The reasoning for this behavior is that, IIRC, given a breaking change in a library, 2 versions of the same dependency can be imported in the module, while the migration takes place (not to mention that u

[2019-06-05 15:16] philtay commented on #246
Uhm, IMO it's a bit ugly but it seems "the standard". The `module` directive of `go.mod` should be `github.com/square/go-jose/v3` instead of `github.com/square/go-jose`. All import statements should be updated as well. Ref.: https://github.com/golang/go/wiki/Modules#releasing-modules-v2-or-higher

[2019-06-13 22:48] csstaub commented on #144
Here's a pull request for review:
https://github.com/square/go-jose/pull/248

Wonder if we should make the same change to add `NewRSARecipient`, etc. for encryption. Right now we're doing `Recipient{Key: key}` which also lacks type safety.

[2019-06-13 23:22] mbyczkowski commented on #246
You're correct @philtay. I just realized this also means all relative paths in go-jose have to use `github.com/square/go-jose/v3` as import paths.

[2019-06-26 21:58] kousu opened #253 "EdDSA key type inconsistency"
When EdDSA (i.e. ed25519) was added in https://github.com/square/go-jose/pull/154 / https://github.com/square/go-jose/issues/68, it made a choice that confuses me: the inner key type is `ed25519.PrivateKey` whereas for RSA and ECDSA it's `*rsa.PrivateKey` and `*ecdsa.PrivateKey`.

For example, this program loads a key from the command line and tells you what type it found, but it's written with ev

[2019-06-27 18:11] csstaub commented on #253
The `ed25519.PublicKey` and `ed25519.PrivateKey` types are both aliases for `[]byte`, making them effectively already pointers. So it'd an additional layer of indirection if they were to be handled as pointer types. That's not true for the other types, which are structs.

[2019-08-03 01:33] ypwu1 opened #254 "Does KDF Implementation satisfy NIST SP 800-56A"
With V2 version, does KDF Implementation satisfy NIST SP 800-56A? I am looking for NIST SP 800-56A kdf tooling. Found kdf util in go-jose, but there is no reference in documentation. so I want to confirm if it is implemented based on NIST SP 800-56A.

[2019-08-03 02:50] csstaub commented on #254
Yes, the `NewConcatKDF` function in the go-jose/cipher package implements the Concatenation KDF as specified in Section 5.8 of NIST SP 800-56A, as required by the JSON Web Algorithms spec (RFC 7518). Note it doesn't implement all of the possible KDFs from NIST SP 800-56A, just the one required for JOSE. But I think that's the most commonly (or only one?) used in practice.

[2019-08-03 03:04] ypwu1 commented on #254
@csstaub Thanks your answer!! That's good news to me!!

[2019-08-03 03:04] #254 closed

[2019-08-09 20:58] mogthesprog commented on #229
So, i think i'm actually running into a bug because of this.

We're using the AzureAD support in go golang.org/x/oauth2, and we use jose.v2 to check signatures on our JWTs. With Azure AD, the `alg` field is omitted from the JWKs. The `kty` field is present.

According to the [RFC](https://tools.ietf.org/html/rfc7517), the `alg` field is actually optional, and only `kty` is compulsory. However `alg

[2019-08-09 21:08] csstaub commented on #229
Do you have an example token/code I could take a look at? `alg` is mandatory in a JWT, but not in a JWK. The absence of `alg` in the JWK should not affect how go-jose handles the token. Looking at the `alg` header from the JWK to decide how to verify the JWT wouldn't work.

[2019-08-09 21:51] mogthesprog commented on #229
Sure. I've got some now revoked tokens, and the JWKs that should work but they have some some company IDs in them. Do you have an e-mail address I can send them to?

[2019-08-09 22:27] csstaub commented on #229
Yeah, you can email them to css (at) css.bio. An excerpt of the code you're using to verify etc. would also help me understand what you're trying to do.

[2019-09-10 17:55] garrickb opened #256 "Opaque Key Encrypter/Decrypter"
Are there any plans to add an opaque key encrypter/decrypter to support use of AWS KMS/GCP KMS?

I can work on a PR for this, but I want to make sure that this is even warranted in the first place.

[2019-09-10 17:57] csstaub commented on #256
I don't think anyone is working on that at the momemt.

[2019-09-10 22:40] csstaub commented on #256
To be clear: there is an opaque crypter interface, just not an implementation of that interface for KMS services. So it's possible to use KMS services already you just have to write the code yourself to hook it up.

[2019-09-10 23:51] garrickb commented on #256
Can you link me to the source/documentation for this? I don't see anything like that in the source code. I want to be able to implement my own decrypter that will make an RPC to GCP KMS.

[2019-09-11 00:05] garrickb commented on #256
Oh, I see what you mean now. Using the [Decrypter interface](https://golang.org/pkg/crypto/#Decrypter) with my own implementation. I didn't know that this would work. Will give it a shot, thanks!

[2019-09-11 00:15] csstaub commented on #256
Hmm, actually, I may have been mistaken, sorry. That will not work out of the box. I was thinking of the opaque wrappers we have but I just realized that's only for signing/verifying. But you want encryption/decryption, so you'd have to duplicate what's in opaque.go for encryption/decryption and update crypter.go to understand those.

[2019-09-18 23:52] zblach opened #260 "'EdDSA' alg header field inconsistent with jwt/ruby-jwt"
Constructing a JWT with an ed25519 key constructs a header where `alg` has a value of 'EdDSA'.

This is incompatible with JWTs generated by https://github.com/jwt/ruby-jwt, which use 'ED25519' as an 'alg' type.

[2019-09-19 01:10] csstaub commented on #260
That looks like a bug in ruby-jwt.

Per RFC 8037 it should be EdDSA:
https://tools.ietf.org/html/rfc8037

[2019-09-19 01:10] #260 closed

[2019-10-01 15:59] Baha-sk opened #263 "Support JWT with ES256K (secp256k1) signature"
As I understand it, go-jose currently supports these keys:

- `P-256`
- `P-384`
- `P-521`

are there any plans to support ES256K keys in go-jose? As in this Java example:
https://connect2id.com/products/nimbus-jose-jwt/examples/jwt-with-es256k-signature

[2019-10-01 21:09] garrickb commented on #256
This was merged into v2 via #261, thanks for the help!

[2019-10-01 21:09] #256 closed

[2019-10-04 19:59] kdimak opened #264 "Unsecured (plain) JWT"
There are `signed` and `encrypted` JWT builders to build JWS and JWE correspondingly, as well as combined `nested` builder.
Please add support for an unsecured (plain) JWT builder.

[2019-10-04 20:30] csstaub commented on #264
Sorry, but I'll have to exercise my executive veto on this one. I think insecure JWTs are a mis-feature of the standard and I don't think we should ever support them. If your data is not signed or encrypted it has no business being in a JWT.

[2019-10-04 20:30] #264 closed

[2019-10-04 21:12] kdimak commented on #264
Got it! Thank you for the reply.

[2019-10-08 19:24] cgarvis commented on #229
I may be running into this.  Have you been able to replicate?

[2019-10-08 19:56] cgarvis commented on #228
Could we get a release cut for this bug?

[2019-10-15 23:02] maraino opened #266 "Release new minor version"
### Description
The [commit](https://github.com/square/go-jose/commit/467354d5a5957a305c7c9fae4c71259c81bcc1af) that fixes the salt length in the PS256, PS384, and PS512 signatures is not included in the last release, please, release a new version with that fix.

[2019-10-18 14:00] cgarvis commented on #266
Any way you could include https://github.com/square/go-jose/pull/245 in your minor version release?

[2019-10-22 13:31] cgarvis commented on #266
thank you @csstaub and @maraino

[2019-10-23 04:22] csstaub commented on #266
Tagged and released: https://github.com/square/go-jose/releases/tag/v2.4.0

[2019-10-23 04:22] #266 closed

[2019-10-23 04:22] csstaub commented on #263
I'm not planning on working on this at the moment, but pull requests are welcome!

[2019-10-23 04:57] maraino commented on #266
Thanks.

[2019-10-26 00:35] jakecraige commented on #184
Are there plans to support external signing in the future? I've run into this recently and didn't find a way to do this yet

[2019-11-01 14:42] sunshuzhou commented on #263
The curve parameter a of secp256k1 is 0, while the package `crypto/elliptic` only supports short-form Weierstrass curves with a=-3. We have to use another library, e.g., the [secp256k1](https://godoc.org/github.com/ethereum/go-ethereum/crypto/secp256k1) in go-ethereum.

I wonder if this is acceptable by using the above mentioned [secp256k1](https://godoc.org/github.com/ethereum/go-ethereum/crypto/

[2019-11-01 15:37] Baha-sk commented on #263
I'm concerned about this ethereum go implementation is using a C library [here](https://github.com/ethereum/go-ethereum/blob/master/crypto/secp256k1/secp256.go#L9). I don't think we wanna depend on C.

Preferably, if there's a native go implementation, it would be best.

Thanks

[2019-11-04 21:07] Baha-sk commented on #263
@sunshuzhou
ref secp256k1 in native go PR (it is not merged) https://github.com/golang/go/pull/26873

[2019-11-07 08:38] zamicol opened #268 "Support RFC 7638 canonical kid for JWK"
The jose-util complains that, "JWK Thumbprint (RFC 7638) is not used for key id because of lack of canonical representation" and instead has an external dependency to  `github.com/google/uuid` for the kid.  https://github.com/square/go-jose/blob/2c8b6426f72c5905687a6fa37788ace1e4def982/jose-util/generate.go#L154

Unless I'm taking crazy pills, [RFC 7638](https://tools.ietf.org/html/rfc7638) is _ex

[2019-11-11 03:16] sunshuzhou commented on #263
@Baha-sk
Nice to hear about that. If the secp256k1 curve is made available in native go `crypto/elliptic`, supporting ES256K keys in go-jose will be easy.
I will track that issue golang/go#26873.

[2019-11-11 08:40] zamicol commented on #229
Could we add [key_ops](https://tools.ietf.org/html/rfc7517#section-4.3) too?

As far as I've looked, that is also the only other missing parameter.  (See the [registry](https://www.iana.org/assignments/jose/jose.xhtml) under the "JSON Web Key Parameters" heading)

[2019-11-11 12:04] troyronda commented on #263
A draft RFC registering ES256K: [COSE and JOSE Registrations for WebAuthn Algorithms](https://tools.ietf.org/html/draft-ietf-cose-webauthn-algorithms-03) (M. Jones).

[2019-11-11 22:32] zamicol commented on #268
See Pull Request #269

[2019-11-12 05:42] zamicol opened #270 "Support RFC 7517 Section 4.3 "key_ops" (Key Operations) Parameter"
It would be nice to support key_ops

https://tools.ietf.org/html/rfc7517#section-4.3

I'm not sure how to implement this particular paragraph:  The "use" and "key_ops" JWK members SHOULD NOT be used together;however, if both are used, the information they convey MUST be consistent.  Applications should specify which of these members they use, if either is to be used by the application.

[2019-11-12 22:26] zamicol opened #272 "Make a function for creating a new JWK"
The jose-util package uses `generate.go` to create a new JWK.  This really seems like something the core library should do.

[2019-11-12 22:48] zamicol commented on #270
I have a draft ready for this, please see my comments:#271

[2019-11-12 23:01] zamicol commented on #272
See #273

[2019-11-13 20:13] Baha-sk commented on #263
@csstaub will you be willing to accept a PR that imports https://github.com/btcsuite/btcd to implement this issue?

If yes, we can push a PR that imports this library.

[2019-11-14 04:42] erdarun opened #276 "JSONWebEncryption.ParseEncrypted: error in cryptographic primitive"
Steps to reproduce

JWE Header

Entire JWE

[2019-11-19 00:26] mbyczkowski commented on #263
I'd be much happier if we didn't have to import the entire `btcd` package.

[2019-11-19 05:25] csstaub commented on #263
Have to concur with @mbyczkowski here, that's a lot to implement. Any chance this can be split out into its own package?

[2019-11-20 02:54] csstaub commented on #263
Also, to clarify, by "split out into its own package" I mean have the secp256k1 implementation in a package outside of btcd that can be imported without pulling in the whole btcd code along with it.

[2019-11-20 04:59] mbyczkowski commented on #263
It's also possible to turn `github.com/btcsuite/btcd/btcec` into a Go module without extracting the code from the repo (see [multi-module repos FAQ](https://github.com/golang/go/wiki/Modules#faqs--multi-module-repositories)), but I'm not sure how btcd maintainers feel about that.

[2019-11-20 15:33] Baha-sk commented on #263
@csstaub @mbyczkowski thank you for your input which are valid. But we don't own nor have contributed to btcd.. @kdimak has tested its signing/verification and compared the results with a secp256k1 C implementation and the output is the same.

So importing a Go package seems to be a better solution than importing C calls in Go as the project doesn't need to depend on C.

To be honest this algorith

[2019-11-20 15:36] Baha-sk commented on #263
I can definitely create an issue in btcd project to ask if they can switch to Go Modules.

[2019-11-20 15:47] Baha-sk commented on #263
@mbyczkowski @csstaub @kdimak issue in btcd to make btcec package a go mod is posted: https://github.com/btcsuite/btcd/issues/1495

Hopefully they will agree to the proposal..

[2019-12-06 00:30] pranavrao1 opened #281 "Class to Encrypt with JSONWebKey"
I had a question how do you encrypt a message with a `JSONWebKey` using a `RSA_OAEP` and a `A256GCM`?

In other words is there a method to correctly encrypt a message provided a key, a JWE algorithm and an encryption method A256GCM.

[2020-01-13 04:26] rptrus commented on #198
Hello,

We are facing exactly the same issue as pavlo. We are also implementing 3DSecure 2.0 and a google search for A128GCM Initialization vector bought us here.

Our EMV specification asks for the following:
"if the algorithm is A128GCM use the leftmost 128 bits of CEKS-A with SDKCounterStoA (padded to the left with ‘00’ bytes) as the IV"

Wondering has there been any development towards this? I

[2020-01-13 16:43] csstaub commented on #198
There's no support for it at the moment @rptrus, but pull requests are welcome.

[2020-01-13 17:17] Baha-sk commented on #263
Apparently btcd provided a link to a fork that has the crypto primitive in a go mod so we can reference it (alone) in go-Jose. It's claimed to be from the btcd authors.
@kdimak have updated his PR (#278) referencing this new package.

[2020-02-05 10:39] philtay commented on #236
Is there any blocker to release v3?

[2020-02-14 06:20] mbyczkowski commented on #236
Looks like there's a bunch of open stuff in [V3 Milestone](https://github.com/square/go-jose/milestone/2), but I think mostly we've had limited maintainers' time. We could maybe cut scope and think about how we can bring v3 to the finish line?

[2020-02-14 16:37] csstaub commented on #236
Yeah, I wanted to do a refactor of the interface mainly, but haven't had time to finish it.

[2020-02-18 14:19] byrnedo opened #283 "Problem unmarshalling RSA key without P variable"
Hi,

I'm getting the following error when unmarshalling
[code]
The documentation for the api returning this jwks says, in their instructions for rolling your own decoder, that one should calculate p.
Is this something go-jose could support?

The key stanza (The key isn't sensitive):
[code]
From their example implementation in Java:
[code]

[2020-02-18 19:26] csstaub commented on #283
What's this API exactly? Computing P ourselves is possible, but seems a bit odd they would require this, per the JWK/JWA spec (as far as I can tell) a JWK without a "p" value isn't valid. I wouldn't want to add anything to compensate for the fact that they're producing out-of-spec keys.

[2020-02-19 08:38] byrnedo commented on #283
@csstaub I was wondering that, if it was out of spec.
Doesn't https://tools.ietf.org/html/rfc7517#appendix-B show a private rsa key without p?

[2020-02-19 16:01] csstaub commented on #283
That’s a public key, not private (Appendix B)

[2020-02-20 08:49] byrnedo commented on #283
Aha, ok. I'll get in touch with the api maintainers and see if they're willing to send p.
I can hack round it right now by computing p myself and then processing it with jose.

[2020-02-23 22:54] richardprice opened #286 "Multiple audiences and JWT validation"
Looking at the code for audience validation:

	if len(e.Audience) != 0 {
		for _, v := range e.Audience {
			if !c.Audience.Contains(v) {
				return ErrInvalidAudience
			}
		}
	}

It looks like the intention there is to require the JWT to have *all* of the expected audiences, and fails if one is missing from the JWT, is that correct?

For example, if the JWT has an audience claim of `https://my-r

[2020-02-26 15:21] dani2819 opened #287 "Verification of JWS failed if header contains "crit"

[2020-02-26 15:26] dani2819 opened #288 "Verification of JWS failed if header contains "crit""
I am generating JSON web signature in JavaScript using node-jws package (https://www.npmjs.com/package/jws). In Headers, I am giving crit: ["exp"] and exp: someTimeStamp. Here is the code used for generating the token:
[code]
 In GO, I am verifying it using go-jose package. It verified it correctly, if I don't put crit in headers while creating the token. Otherwise, it won't work saying `square/go

[2020-02-26 15:27] #287 closed

[2020-03-03 04:53] mbyczkowski opened #290 "Changes are not consistently applied to v2 and v3"
I have found a few cases were we have not been applying changes to either v2 or master branch (current v3 development). To make things clearer, I propose we only create PRs targeting master and then cherry-pick to v2 (when applicable):
- If PR for v3 also makes sense for v2 (say a bug-fix or a backward-compatible feature), let's label the PR `V2-Cherry-Pick` (or something similar), so we know a ch

[2020-03-03 05:23] csstaub commented on #290
I like this @mbyczkowski, let it be so.

[2020-03-05 07:55] joesiltberg commented on #288
I think this is correct behaviour by default. The exp header is not part of standard JWS, and by including it in crit an implementation should fail if it doesn't recognize the header.

I think it should be possible to add extension header attributes though, for instance like 'exp', if you know that you will verify it yourself. go-jose seems to have an internal list of recognized critical headers,

[2020-03-08 03:02] mbyczkowski commented on #290
Cool, I have created the labels and opened #291 and #292 to back-port and port-forward the missing changes. The remaining PR (#261) is being tracked already in #257.

[2020-03-08 03:02] #290 closed

[2020-03-14 02:04] karantin2020 opened #294 "Invalid error message in func (k JSONWebKey) MarshalJSON()"
In line
https://github.com/square/go-jose/blob/643bdf8caec0de8a54ec3e8f8601d57992f35510/jwk.go#L112
if key is nil error message is
'square/go-jose: unknown key type '%!s(<nil>)''
If change this line to
'return nil, fmt.Errorf("square/go-jose: unknown key type '%T'", key)'
then everything is OK. Message will be
'square/go-jose: unknown key type '<nil>''
From fmt package docs:
'%T	a Go-syntax repres

[2020-03-14 10:36] philtay commented on #236
IMO there's always time for v4. At this point cutting v3 alone would be a step forward. More than a year has passed.

[2020-03-30 08:56] therealsphinx commented on #276
What is the impact here?

[2020-03-31 09:32] therealsphinx commented on #286
@richardprice What is the impact here?

[2020-03-31 09:32] therealsphinx commented on #283
@byrnedo What is the impact here?

[2020-03-31 09:33] therealsphinx commented on #276
@erdarun What is the impact here?

[2020-03-31 09:39] byrnedo commented on #283
The api maintainers maintain (lol) that p is optional according to the spec. This means that for me to use go-jose, I have to manually calculate p, set that key in the json and then pass it to go-jose.

[2020-04-01 06:28] anzboi opened #295 "Tag another release"
It has been a few months since the last release and there have been a few features added since.

My particular need is for the x5t fields in keys.

[2020-04-03 05:51] agnewp commented on #286
i ran into this as well. my expectation is the audience in the claim is contained within the expectations. NOT the other way around.  the impact is that i can not check for audience using your library without a audience validation error

[2020-04-03 05:55] agnewp opened #296 "multiple issuer request"
in our company's identity server depending on how the token is obtained, the issuer is a slightly different URL.  i want to be able to accept tokens form both issuers, however i can't use your validate function with more than ONE issuer.

i would like to see the ability to have the jwt.Expected structure to accept an array of issuers much like the array of Audiences.

[2020-04-03 06:53] richardprice commented on #286
The impact is that if you list 4 audiences in your service, the validation currently requires all 4 to exist in your token.

The change I propose would reverse that - you list 4 audiences in your service, the token can have any single one of those audiences and it would successfully validate.

[2020-04-03 09:32] therealsphinx commented on #283
Thanks for the answer. Does it have any security impact?

[2020-04-07 13:41] byrnedo commented on #283
I don't think so since p is usually just supplied as a convenience since it's expensive to calculate

[2020-04-13 02:27] mbyczkowski commented on #295
@anzboi I have just tagged the head of `v2` branch as `2.5.0`. It should have the change that added `x5t` fields.

[2020-04-13 02:27] #295 closed

[2020-04-14 14:02] fungiboletus opened #297 "How to use ED25519 ?"
Hi,

I'm trying to test go-jose with ED25519 (or EdDSA) but I'm doing it wrong. I mostly get errors such as `unsupported key type/format`. Do you have any example about how to use it ? From reading the code and the tests, it looks like it cannot be used like ECDH_ES.

[2020-04-14 18:44] mbyczkowski commented on #297
I wonder if you're seeing issues related to #253

[2020-04-15 05:53] mbyczkowski opened #298 "GolangCI replacement"
GolangCI.com is [shutting down](https://medium.com/golangci/golangci-com-is-closing-d1fc1bd30e0e) tomorrow, April 15th. It's not a huge deal, but it's nice to have a good linter.

The simplest solution is to just remove the integration. We could also easily throw the `golangci-lint` in the Travis CI build and call it a day, but maybe it's a good time to try out GitHub Actions?

[2020-04-15 17:19] hiten1988 opened #299 "Version 2.5.0: has breaking changes in terms of certificate verfication"
@mbyczkowski

-Add support for x5u, x5t, and x5t#S256 headers for JWK (#242).

**#issue 1**
has some breaking changes particularly in the jwk.go, where

**method name** : func (k *JSONWebKey) UnmarshalJSON(data []byte) (err error)

k.CertificateThumbprintSHA1 = raw.X5tSHA1.bytes()
k.CertificateThumbprintSHA256 = raw.X5tSHA256.bytes()

here the raw value is attempted to convert in bytes but it does

[2020-04-16 04:53] mbyczkowski commented on #299
Thanks for the report @hiten1988! I have backported #242 to `v2` in #291 and subsequently released in 2.5.0 release.

Since,  **x5u**, **x5t** and **x5t#S256** parameters are optional and the validation only happens if those parameters are present, those issues should only be present for JWKs that set them.

@csstaub might have more context on this, but based on my reading of [RFC 7517, Section 4.

[2020-04-16 17:55] csstaub commented on #299
Yes, I think that analysis is correct. It's encoded vs. raw bytes confusion.

[2020-04-17 00:29] anzboi commented on #295
Awesome, thanks @mbyczkowski

[2020-04-28 21:48] dmcgee-ripple commented on #299
Hey guys! Really appreciate you providing and supporting this library.

I tried updating our application to v2.5.0, and we ran into this same error. Unfortunately, fixing the keys isn't so easy. We're using Auth0 as a provider, and I'm guessing anyone using them is going to run into this issue.

Here's a current snapshot of our RSA well-known keys in JWKS format that Auth0 is providing at `https:/

[2020-04-28 22:14] e01010100 commented on #299
+1

I'm broken for the same reason and had to roll back to the previous release

[2020-04-28 22:57] mbyczkowski commented on #299
@dmcgee-ripple this is something that we should fix in go-jose. I'm working on a fix that should go out in 2.5.1. Unfortunately, I haven't had a lot of bandwidth recently 😞

[2020-04-28 23:15] mangas commented on #299
@mbyczkowski I was actually just trying to fix it as well but for the case above as well as mine (also from auth0) seems like there is a mismatch between

[code]

as sha1sum does produce the 20 byte output but k.CertificateThumbprintSHA1 produces something different, but I may be missing something as I'm not very familiar with the codebase.

If you have some time I'm happy to pair on this if you'r

[2020-04-28 23:22] e01010100 commented on #299
@mbyczkowski understandable. Thank you for all your hard work.

[2020-04-28 23:25] mangas commented on #299
Hey @mbyczkowski, I'm trying to fix it at the moment as well but I'm still trying to figure some part of the code out, if you have some time I'd be happy to help you out, just kinda need to figure out the right way to verify the checksums which is what is not working for me at the moment. My use case is also with an auth0 cert.

[2020-04-28 23:40] mbyczkowski commented on #299
I have pushed whatever I got so far in #303 and annotated some of my (WIP) changes. I hope it helps. Also, any feedback's welcome.

[2020-04-29 20:43] mangas commented on #299
@mbyczkowski I've raised https://github.com/square/go-jose/pull/304, I think it solves the problem as far as I can see, would you be able to review it please ?

[2020-04-30 18:02] #299 closed

[2020-04-30 18:03] mbyczkowski commented on #299
Thanks for all your work @mangas and @hiten1988 for the initial report. GH has auto-closed this issue, but feel free to re-open if you find the issue to still be present.

I'm going to backport #304 to `v2` and then release `2.5.1`.

[2020-05-05 03:30] burhan commented on #198
A custom IV is also a requirement for VTS (Visa Token Services).

[2020-05-06 14:30] advanderveer commented on #297
For me it was because i was using the std lib ed25519. If you are using v2 of go-jose you have to make sure to use golang.org/x/crypto/ed25519 instead.

[2020-05-08 15:16] fungiboletus commented on #297
I'm just loading the public key from a PEM file. It's time is indeed ed25519 from golang.org/x/crypto/ed25519. However I don't know how to provide it to `jose.NewEncrypter`. It always return `unsupported key type/format`.

[2020-05-08 15:25] fungiboletus commented on #297
Okay my bad, it looks like ED25519 is for signing, no encryption.

[2020-05-08 15:25] #297 closed

[2020-06-03 12:52] JChiquin opened #310 "error in cryptographic primitive decrypting JWE"
Hi, I have this problem, I created a JWE in node.js using [node-jose](https://www.npmjs.com/package/node-jose) by this way:

[code]

According to the documentation it is created with `"alg": "PBES2-HS256+A128KW",  "enc": "A128CBC-HS256",` and if I check it in jwt.io, it is.

Then, I need to decrypt in golang, so I do like this:
[code]
But it panics "panic: square/go-jose: error in cryptographic pr

[2020-06-04 12:24] JChiquin commented on #310
Fixed!

This is the solution: https://stackoverflow.com/a/62193440/13672687

[2020-06-04 12:24] #310 closed

[2020-06-04 17:21] etsangsplk opened #311 "Does go-jose verify against jwk signed by expired public key?"
When JWK  checks integrity of public keys for JWK does it or how much CA authentication validation does it do?
CA authentication validation:
https://www.geocerts.com/blog/understanding-ssl-certificate-authentication-validation

[2020-06-04 20:13] etsangsplk commented on #311
Also how does the library deal with key generated from cert that is revoked?
E.g.
https://golang.org/pkg/crypto/x509/#example_Certificate_Verify

[2020-06-08 01:48] rafgugi opened #312 "Comparison with dgrijalva/jwt-go"
hi,
how does jose compare to [jwt-go](https://github.com/dgrijalva/jwt-go)?
what are the advantages in using this or jwt-go?

[2020-06-10 21:57] tdyas opened #314 "Valid method on JSONWebKey always returns false for symmetric key JWKs"
There is no switch case for symmetric key JWKs in the `Valid` method on `JSONWebKey`. Thus, the default case returns `false` even for an ostensibly valid JWK, while, if there were no default case at all, the final statement would have returned `true`.

What is the intended behavior in this case? I can submit a PR for that behavior.

https://github.com/square/go-jose/blob/8ccb8a19e8094e234b5387186a

[2020-06-24 14:29] soumasandesu commented on #314
The switch block is a section of short-circuits which filter out those keys which is not within standard. It's correct to `return true` if none of inverse assertions are matched.

As a symmetric key of JWTKey`.Key` is a raw type (i.e. `[]byte` or `[]uint8`), the `switch $type {}` should make `case byte` return true explicitly to make the whole validation valid. (?🤔)

[2020-06-24 18:13] csstaub commented on #314
Yeah this is reasonable to add for validation, it should check for []byte and also make sure the length of the byte array is a valid key size (e.g. 16, 24, 32, etc bytes)

[2020-07-10 18:06] mitar opened #321 "jwk-keygen: allow sending to stdout when using kid (or random kid)"
Could this be an argument, so that one can use kid (or random kid) and still get keys output to stdout?

[2020-07-16 06:17] dependabot-preview[bot] opened #322 "Dependabot can't resolve your Go dependency files"
Dependabot can't resolve your Go dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/square/update-logs/40375815).

[2020-07-17 06:14] #322 closed

[2020-07-18 14:52] watercraft opened #323 "import paths issue with SignedAndEncrypted()"
I'm trying to use the SignedAndEncrypted() / ParseSignedAndEncrypted() workflow to implement JWE and I ran into problems with the import path in this repo:
[code]
I resolved the problem by using the gopkg vertion:
[code]
I'm concerned that this code may be out-of-date.  Is there a better solution?  Is there a different workflow for JWE that I should be using instead?

[2020-07-18 15:08] csstaub commented on #323
Using the gopkg.in import path is the correct solution.

[2020-07-18 15:11] csstaub commented on #323
The import path determines which version (branch) is imported. The stable version right now is v2, for which the import path is the gopkg.in one. Make sure to use this import path consistently for all imports (including of sub-packages).

See also: https://github.com/square/go-jose#versions https://github.com/golang/go/wiki/Modules

[2020-07-21 17:18] mitar commented on #129
So https://github.com/square/go-jose/pull/242 added a bit of support for `x5t` header, but `https://github.com/square/go-jose/pull/131` has also code to generate the field, which I would find very useful as well, to be able to get from JWK directly to `x5t` in go.

[2020-08-03 01:12] mwhudson opened #326 "TestOpaqueKeyRoundtripJWE is very slow, times out on slow platforms"
Hi,

We're seeing persistent timeouts testing new versions of this package on armhf in Ubuntu:

https://autopkgtest.ubuntu.com/packages/g/golang-gopkg-square-go-jose.v2/groovy/armhf

There are a few slow tests but TestOpaqueKeyRoundtripJWE appears to be the slowest. Does it make sense to skip this test when -short is passed or something?

Cheers,
mwh

[2020-08-03 01:52] csstaub commented on #326
Yeah, you can skip those if they're too slow for your platform. You can also increase the timeout.

[2020-08-24 04:03] mhf-ir opened #327 "is Expiry checked?"
Seems be Expiry must be manual check instead of automatic checking.
Seems wrong implementation https://tools.ietf.org/html/rfc7519#section-4.1.4

[code]

Output:
[code]

[2020-09-22 07:31] asilverman opened #329 "The example for making encrypted JWTs doesn't work"
Execute the code example found here:  https://pkg.go.dev/gopkg.in/square/go-jose.v2/jwt#example-Encrypted

The resulting JWT token is invalid, it has no contents

`eyJhbGciOiJkaXIiLCJlbmMiOiJBMTI4R0NNIiwidHlwIjoiSldUIn0..JY8-0PpFpvdrKEf8.f_7kAbKUHASjdv4Tuz14b2fUDPRm8uPIiRGmcNY27WA.YxpmkzkaVwzrU1-gjkAKYA`

[2020-09-24 18:57] anatol commented on #270
I am porting some `jose` library C code to golang. That code uses `key_ops` and I would like to match the function in my new code. Any plans to move forward with the PR you mentioned?

[2020-09-25 10:57] zamicol commented on #270
Another library to consider is https://github.com/lestrrat-go/jwx

[2020-09-29 12:01] gilbsgilbs commented on #327
Turns out `token.Claims()` only checks the signature of a JWT and not the registered claims. Once you have the claims, you must manually validate the registered claims like so:

[code]

I agree that this behavior is confusing to say the least. There should be a clear, complete and easily accessible example that shows how to safely check the validity of a JWT from start to end (i.e. verify both the

[2020-10-04 07:17] zhsj opened #330 "TestJWSWithCertificateChain failed with go1.15"
[code]

[2020-10-13 16:57] dependabot-preview[bot] opened #335 "Dependabot couldn't find a go.mod for this project"
Dependabot couldn't find a go.mod for this project.

Dependabot requires a go.mod to evaluate your project's current Go dependencies. It had expected to find one at the path: `/go.mod`.

If this isn't a Go project, or if it is a library, you may wish to disable updates for it from within [Dependabot](https://app.dependabot.com/accounts/square).

[View the update logs](https://app.dependabot.com/ac

[2020-10-16 11:59] abhiuppala opened #336 "Compatibility issues for JWS with SignerOptions"
Hi, I am working on a project where we need to encrypt and sign certain text before sending it over to a partner who will then verify the signature before decrypting. Partner's system is on Java and they are using `Nimbus JOSE` as their library. We are using `go-jose.v2` on our side.  We were testing our integration and figured out signature verification was failing on partner's side. On looking d

[2020-10-16 12:07] abhiuppala commented on #336
@csstaub Could you look into this and suggest if its a known issue or something is wrong with the code.

[2020-10-16 12:47] abhiuppala commented on #336
The issue was with `go-jose` version(2.3.1) in our code. Seems this issue had been [addressed](https://github.com/square/go-jose/commit/5fc046e0fe229185b92fcc6079d86f25ed64cde1#diff-7aea8150b8fc1102579a665095c2f62d72b05e532724a51b3bdf610cc1c64040). Bumping to latest version solved the issue.

[2020-10-16 12:47] #336 closed

[2020-10-18 19:44] pippo commented on #329
I tried replicating the problem, however it worked for me both ways. I can create a JWE (using the referenced example) and then later decode claims from it (using [this example](https://pkg.go.dev/gopkg.in/square/go-jose.v2/jwt#ParseEncrypted)).

@asilverman, could you please provide steps to replicate the issue?

[2020-10-18 19:46] pippo commented on #330
Should this be closed, as #332, addressing the issue, has been merged?

[2020-10-19 17:06] #330 closed

[2020-10-21 01:57] csstaub commented on #330
Yes, though I'll also have to tag a new release.

[2020-11-06 19:58] kelsin opened #337 "Using MultiEncrypter with ContentType"
Right now in NewMultiEncrypter the ExtraHeaders from the options object is never copied to the encrypter. This means you can't make an encrypter that will satisfy the NestedBuilder requirement of having a "JWT" content type.

Here is an example of v2 and this behavior:
https://play.golang.org/p/2iQoF2myz9k

Here is an example of v3 showing this behavior:
https://play.golang.org/p/kAb6M2m0_Gr

Is t

[2020-11-06 20:17] kelsin commented on #337
I forked in order to attempt to fix it locally for myself, but unfortunately the obvious addition of `encrypter.extraHeaders = opts.ExtraHeaders` doesn't help. Relatively new to go, so looking through stuff more!

[2020-11-06 20:27] kelsin commented on #337
I added a PR with the very naive fix, but I'm not positive about the other ramifications. I did get this to eventually work locally (I'm having trouble in the non go.mod world getting local code running my fork of the package).

[2020-11-11 21:44] gnurik opened #339 "CertificateThumbprintSHA1 undefined"
Trying to access property `CertificateThumbprintSHA1` doesn't compile, but I can't figure out why and I see that it was introduced in 2.5.0 (https://github.com/square/go-jose/compare/v2.4.1...v2.5.0#diff-adb413cfea72e48e90449f9604b1472d63b22160f9c1230bb22517ece6a0fa89R86). Property `Certificates` seems fine but it was there prior to 2.5.0 so is this some weird release/gopkg.in issue?

[code]

Comp

[2020-11-15 23:19] pippo commented on #339
Hi @gnurik. I'm not able to reproduce the issue with v2.5.0.
Could you, please, make sure you've got version `v2.5.0` or above in your `$GOPATH`?

[2020-11-16 14:42] gnurik commented on #339
realized that the latest import I should be using is actually `gopkg.in/go-jose/go-jose.v2` instead of `gopkg.in/square/go-jose.v2`, seems ok now.

[2020-11-16 14:42] #339 closed

[2020-11-16 15:50] gnurik commented on #339
had an old version referenced in go.mod also, 🤦

[2020-11-17 19:44] abhowmik opened #340 "Getting ./main.go:67:15: undefined: LoadPublicKey Error"
When I run go build main.go I get the following error:
./main.go:67:15: undefined: LoadPublicKey
Please Advise where to get this function from

[2020-11-18 00:22] #340 closed

[2020-11-26 09:42] bouk opened #342 "What is going on with v3?"
Hi, I want to adopt this module for my project, but I'm a bit unclear about what's happening. It seems you've forked it to go-jose/go-jose, but then that one still has the module name github.com/square/go-jose so I can't import it (with `go get -u github.com/go-jose/go-jose/v3@master`).

How am I supposed to use it?

[2020-12-01 18:14] giautm commented on #342
Hi, give a try for `go get -u github.com/square/go-jose/v3`

[2020-12-01 18:25] pkieltyka commented on #342
Very surprised to see this repo take such a turn for the worst. Why was a new repo formed and then contents deleted from here when the new repo doesn't even build? such a shame.

[2020-12-01 18:34] csstaub commented on #342
Hi @pkieltyka, I migrated the dev version of the code to a new repo since I don't work at Square anymore and don't have access to the Square org hence. The currently supported version is v2, the v3 one is still in development and I wouldn't recommend it for active use.

[2020-12-01 18:35] csstaub commented on #342
Also the content from the master branch was deleted so that folks don't use it since it wasn't stable -- the stable version is in the v2 branch, which is required due to how Go modules work. Make sure to import the package via gopkg.in and pin to v2 so your code won't randomly break.

[2020-12-01 18:36] csstaub commented on #342
@mbyczkowski -- can we set the default branch to be the v2 branch? Should avoid some confusion.

[2020-12-01 18:51] pkieltyka commented on #342
Thanks for the update. Are you planning to continue to support https://github.com/go-jose/go-jose? if not, perhaps mention that you're looking for new maintainers, or even ask if Square plans to hire someone to maintain it? as it is an important library and seems to be orphaned.

FYI: for others following the thread, you may also want to look at https://github.com/lestrrat-go/jwx which is a high q

[2020-12-01 19:12] csstaub commented on #342
The current version (v2 branch, at square/go-jose) is still supported and will continue to receive security patches, I wouldn't call it orphaned. The v3 branch (at go-jose/go-jose) exists for new feature contributions that are backwards-incompatible and would require changing interfaces (e.g. removing some of the interface{} type-casting). Contributions are definitely welcome if someone would like

[2021-01-12 16:31] bouk opened #343 "x5u header doesn't work"
If you have the x5u header in a JWK you get the error `json: cannot unmarshal string into Go value of type url.URL`

I have a fix for v3 here: https://github.com/go-jose/go-jose/pull/2.

[2021-02-03 04:50] Baha-sk opened #344 "Missing AAD in CompactSerialization"
When using `encrypter.EncryptWithAuthData(msg, aad)` then call `encrypted.CompactSerialize()` the serialized jwe's protectedHeaders do not contain the aad value which is lost when decrypting.

More specifically, protectedHeader does not have the aad value as a suffix concatenated with '.'

The missing line that should be fixed is at:
https://github.com/square/go-jose/blob/v2/jwe.go#L252

[2021-02-03 05:53] Baha-sk commented on #344
Never mind this issue, as per the [JWE IETF standard](https://tools.ietf.org/html/rfc7516#section-7.1), AAD is not expected to be available in JWE Compact Serialization

[2021-02-03 05:53] #344 closed

[2021-02-17 14:14] albertmonzo opened #345 "OpaqueSigner makes unnecessary operations"
recipientSigInfo.PublicKey() is called twice in genericSigner.Sign(), when the key is an OpaqueSigner this may be an expensive operation (for instance an HSM over the network) so ideally this should be called once only.

[2021-02-19 11:38] albertmonzo commented on #345
Upon further research, I've concluded this is not a feasible appraoch altogether as `.Public()` can't return an error, which forces us to instantiate a new instance of the OpaqueSigner per signature and to make whatever network calls are needed when constructing it.

[2021-02-19 11:38] #345 closed

[2021-05-04 00:50] BlueGGuy commented on #342
For me the inability to use Github to search code is my major gripe. Forked repositories are not searchable only the empty default branch is searchable on square.

[2021-05-10 20:08] smartaquarius10 opened #349 "How to verify signature using set of JWKS via https url?"
Team,

I have my key set(like kid, kty, use, crv RSA, EC etc.) exposed at http url at url: something.organization.com/az/JWKS. How to validate signature using these keysets with the help of go-jose package.

Does VerifySignature function handles internally or do we have to follow some other procedure. I would be grateful if anyone can share an example.

Thank you.

[2021-05-10 20:30] smartaquarius10 opened #350 "Can we manually validate token using CA certificate Public key?"
Team,

I have a use case of open id connect. In this we are not receiving public key in any header like x5c, x5u or x5t.

Is it possible to manually verify jwt using CA public key. If yes, could any one please share a block of code.

Thank you

[2021-05-10 20:32] csstaub commented on #350
There's examples in the Go API documentation for how to verify a signature or token given a public key.

[2021-05-10 20:41] smartaquarius10 commented on #350
@csstaub , if possible, could you please share the link. Tried searching on google but no luck.

[2021-05-10 20:44] smartaquarius10 commented on #349
@csstaub,
Hmm. But then how go jose is verifying signature. From where is it fetching the key sets.

[2021-05-12 18:10] csstaub commented on #350
The API docs are linked in the readme: https://github.com/square/go-jose

[2021-05-12 18:10] #350 closed

[2021-05-12 18:14] csstaub commented on #349
Go JOSE assumes that you have a trusted key already available to verify with. Fetching keys from third parties is out of scope of the library. Generally, Public-Key Infrastructure (PKI) is used to distribute & authenticate public keys, such as in the form of certificates. If you're having trouble understanding the trust calculus of key distribution schemes I would recommend seeking professional ad

[2021-05-12 18:14] #349 closed

[2021-05-24 14:57] narg95 opened #351 "json.Unmarshal converts json literal integer to float64 instead of int64 when taget type is of type interface{}"
# Issue

`json.Unmarshal`  unmarshals integers values into `float64` when target type is of type `interface{}`.

# Expected behavior

If a json literal is assignable to an integer without losing precision the  `json.Unmarshal` must convert to `int64` instead of `float64`

The problem is located in `json/decode.go` in [convertNumber function](https://github.com/square/go-jose/blob/v2/json/decode.go

[2021-05-24 15:30] csstaub commented on #351
Sounds reasonable. What does the latest encoding/json in Go's standard library do in this case?

[2021-05-24 16:21] nestorvw commented on #351
Also `float64` https://play.golang.org/p/8JKQ3G8nr1M but would'nt it make sense that the custom `go-jose`'s json marshalling library addresses `jwt` specific needs like a correct data type for claims with timestamps e.g. `iat, exp, nbf`? otherwise it could just use standard golang library.

[2021-05-24 16:22] narg95 commented on #351
Also `float64` https://play.golang.org/p/8JKQ3G8nr1M but would'nt it make sense that the custom `go-jose`'s json marshalling library addresses `jwt` specific needs like a correct data type for claims with timestamps e.g. `iat, exp, nbf`? otherwise it could just use standard golang library.

[2021-05-24 16:58] narg95 commented on #351
I was doing a quick review on GO's standard library and there was an issue about same topic: https://forum.golangbridge.org/t/type-problem-in-json-conversion/19420
Nevertheless it was closed mentioning:

That is partially right,  JSON and JavaScript do not have distinct types for integers and floating-point values, but it does not mean that when parsed,  programming languages can not use their int

[2021-05-25 04:58] csstaub commented on #351
Yeah totally reasonable to change the behavior to do something specific for this library. (That's part of the reason we forked encoding/json, so we be stricter around parsing fields into structs).

[2021-05-25 15:42] narg95 commented on #351
great, I was thinking to make it an `opt-in` feature so it is backwards compatible. I was thinking to refactor the `decodestate.useNumber` type for a `enum` and rename it as `numberFormat`:

`json/decode.go`
[code]

and in `Decoder`:

`stream.go`
[code]

and of course the implementation logic in `convertNumber` function

[code]

does it sounds good to you for a PR?

[2021-05-25 19:35] csstaub commented on #351
That sounds reasonable to me, though as far as I'm aware only this library uses the forked version internally. We should perhaps move it to be in an internal folder and then we don't have to worry about backwards compat so much.

[2021-05-25 19:50] narg95 commented on #351
I see, nevertheless existing logic that type casts `interface{}` to `float64` will break.
Having the `json` library public might support those implementing custom `UnmarshalJSON` logic .

[2021-05-25 20:10] asilverman commented on #329
@pippo  notice how the example you are referencing is using a JWT with no contents (a substring `..`) means no claims payload

[2021-05-29 14:21] narg95 opened #353 "It is not possible to configure json decoder when unmarshalling JSONWebToken's claims"
# Issue

Currently methods [`JSONWebToken.Claims` ](https://github.com/square/go-jose/blob/v2/jwt/jwt.go#L50) and [`JSONWebToken.UnsafeClaimsWithoutVerification`](https://github.com/square/go-jose/blob/v2/jwt/jwt.go#L67) use default json decoding settings and there is no way to modify them e.g. setting `Decoder.SetNumberType`.

# Current workaround

Implementing a custom unmarshal and set decoder

[2021-06-03 14:12] mitar commented on #126
Ping on this?

[2021-06-05 22:07] rittneje opened #355 "Issues for v3 fork"
The fork at https://github.com/go-jose/go-jose that is intended for the upcoming v3 release does not have the "Issues" tab enabled. Will it be enabled once the v3 release happens? Or is the expectation that people continue to file issues against this deprecated repo?

[2021-06-05 22:16] csstaub commented on #355
You're right, looks like that was missing. My mistake! It's enabled now.

[2021-06-05 22:16] #355 closed

[2021-06-10 11:47] adamkissvcc opened #356 "Pad x/y for ES512 - P-521"
Hi!

We are trying to connect ory kratos and gluu. Gluu is a java auth solution, with openid provedir functionality. At some point it generates an ES512 signed token, for which we get an error in kratos, that comes from jose: `invalid EC public key, wrong length for y`

The y value byte length is 65 after base64 decode. If I pad it to 66 bytes, the check works, so as far as i can see the x/y value

[2021-06-10 16:08] csstaub commented on #356
This error is expected given the input is too short.

NIST P-521 uses 521 bits, hence 521/8 = 65.125 bytes, hence the Y value must be 66 bytes (rounded up).

As RFC 7518 says: "The length of this octet string MUST be the full size of a coordinate for the curve specified in the "crv" parameter.  For example, if the value of "crv" is "P-521", the octet string must be 66 octets long".

[2021-06-10 16:08] #356 closed

[2021-07-08 18:24] leighmcculloch opened #357 "ES256/etc algs produce non-deterministic ECDSA signatures inconsistent with the IETF JWT BCP"
In go-jose the ES256/ES384/ES512 algorithms that use ECDSA have been implemented to produce non-deterministic signatures. This means that signing the same JWT payload repeatedly produces a different signature each time.

According to the [IETF JSON Web Token Best Current Practices Section 3.2](https://tools.ietf.org/id/draft-ietf-oauth-jwt-bcp-02.html#rfc.section.3.2) (JWT BCP) it is best practice

[2021-07-08 22:03] FiloSottile commented on #357
Go's crypto/ecdsa is not deterministic, but it's also not resting the security of the private key on the quality of the randomness. We should update the docs. It uses `SHA2-512(priv.D || entropy || hash)[:32]` as the seed of the CSPRNG, so as long as the private key is safe, the nonce is unpredictable.

[2021-07-08 23:05] leighmcculloch commented on #357
I had seen https://github.com/golang/go/commit/a8049f5 but wasn't sure if that entirely addressed the issue given the remaining comment on the `Sign` function. Thanks @FiloSottile!

[2021-08-24 08:47] adamkissvcc commented on #356
If any1 else comes here, it's fixed in Gluu 4.2.1, see:
https://support.gluu.org/authentication/8780/wrong-size-of-ec-x-value-in-jwks_uri-while-using-openid/
https://github.com/GluuFederation/oxAuth/issues/1461

[2021-08-30 12:25] makon opened #359 "Wrong error returned when verifying"
I just noticed that `DetachedVerify` does not return the more detailed errors from `computeAuthData` or `verifyPayload`, but always returns the `ErrCryptoFailure` instead.

This is a significant loss of information, so I wanted to ask if this is intended (information hiding) or a bug?

https://github.com/square/go-jose/blob/c9ac459e06bc9a5ab7efd5d3b3f421d6de27401f/signing.go#L373-L384

[2021-08-30 15:05] csstaub commented on #359
That was intentional, I didn't want to it to potentially leak information (e.g. padding oracle).

[2021-08-30 15:35] makon commented on #359
I understand, it took me at least 2 hours to figure out what was wrong with my code. Only because I kept getting the same error until I researched further in the library and finally got the real cause as information

I'm not sure if it should be the responsibility of the user of the library to decide which errors to return and which not?
Probably better to make it fail safe by default, but I would

[2021-09-10 19:42] alee792 opened #360 "NewEncrypter does not handles neither non-pointer JWKs as Recipient Keys, nor non-JWK"
The following block will fail with `"square/go-jose: unsupported key type/format"` if a JSONWebKey is passed by value.
[code]

I would expect passing by value to work because `NewEncrypter` supports it:
https://github.com/square/go-jose/blob/c9ac459e06bc9a5ab7efd5d3b3f421d6de27401f/crypter.go#L140-L141

However, when non-`DIRECT` and non-`ECDH-ES` recipient algos are handled by the [default case](

[2021-10-07 01:45] bang9211 opened #361 "Setting about "Unprotected", "Header", "iv""
Hi, I developed SEPP(Security Edge Protection Proxy) specification of 3GPP 5G Core Network.

It needed JOSE, but go-jose is different from the standard of JOSE required by 3GPP.
So I just forked and customized go-jose, and used it.

I like go-jose and I'd like to know what was the purpose of this design :)
These are questions.

1. JWS
this is the JWS JSON Serialization Representation example of RF

[2021-10-07 07:07] bang9211 commented on #361
I am trying to simply add JWS's unprotected header first. #362
In the case of iv, the interface is related, so it is needed to be careful to modify it.

[2021-12-23 09:08] avelino opened #365 "test environment breaking - TravisCI"
ref: https://travis-ci.org/github/square/go-jose/builds/773632873

[code]

[2022-01-05 20:25] idefixcert opened #366 "Validate claims with jwks file"
I try to Validate claims via a JWKS file:

I created an RSA jwks file with private and public key.
when I then try to run
`err = parsedToken.Claims(keys)`
I get the following error
`square/go-jose: unsupported key type/format`

In my opinion the error is that it is not returned the jose.JSONWebKey in this following line, it is returned the .Key thats the `rsa.PrivateKey`

https://github.com/square

[2022-01-10 11:57] tharinduwijewardane opened #367 "Trivy scan reports vulnerabilities for v2.6.0"
CVE-2016-9121 and CVE-2016-9123 vulnerabilities are reported for v2.6.0

<img width="1030" alt="Screenshot 2022-01-10 at 16 40 20" src="https://user-images.githubusercontent.com/1345465/148756768-1a3ea3d0-28f6-4c4f-a4d6-21780d7756dc.png">

[2022-01-10 23:02] csstaub commented on #367
Those CVEs are for versions 1.0.5 and earlier, they don't affect 2.6.0.

[2022-01-10 23:02] #367 closed

[2022-01-25 20:30] apryiomka opened #368 "square/go-jose: error in cryptographic primitive"
I have a decryption key and a JWE token that I can decrypt in python like so:
[code]

Doing the "same" In golang results in the above error:

[code]

I have also tried not specifying the encryption / decryption algorithm and just pass the key like so: `jwe.Decrypt(base64Decode)`, but got the same result.

Bellow is the screenshot of the document for the token origin. I am not creator of the token,

[2022-03-23 07:50] shnmorimoto commented on #286
Currently, I'm facing same issue.
Any update this?

If this behavior is correct as JWT. I can raise PR.

[code]

[2022-03-23 08:23] richardprice commented on #286
Never got a response, but the behaviour I suggest is how Microsoft handles it in ASP.Net Cores token validation (any single audience in the token matches any single audience in the services configuration validates - once it finds the first match it stops checking) - https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/92d3f24cdcb0d148d1a8c236bc073157e776f4d5/sr

[2022-04-29 20:50] lwohlhart commented on #312
I'd suggest we close this issue:
The short answer -> dgrijalva/jwt-go is no longer maintained

[2022-05-11 17:17] Kish29 opened #370 "Hope to keep the float type when the fractional part ends with '. 0' by using UnmarshalIntOrFloat"
when I use UnmarshalIntOrFloat to decode float number especially when the fractional part ends with '. 0', here is the test:
[code]
and output is:
[code]
So I hope that it could offer an option to decide whether keep these special float number still be float type like float_zero,float_a,float_c, thanks! :)

[2022-05-11 20:48] csstaub commented on #370
This is a question for the Go standard library, the `json` package in `go-jose` is merely a copy of `encoding/json` from Go with updated semantics to make it more suitable for JOSE objects. It's not meant for use outside of this library.

[2022-05-11 20:48] #370 closed

[2022-06-11 03:14] asanka88 opened #371 "AutoRefreshing JWK ?"
Does this project have helper methods or something for a  jwk that fetch keys from a remote url ? something like below
`	const url = "https://abc.com/keys"
	jwks, err := NewJWKFromWeb(url)
	key, err := jwks.Key("id1")
`

[2022-07-20 22:02] gsexton commented on #368
This looks a lot like the Google Play Verification API. The rest of the story to complete the steps are:

[code]

[2022-08-07 12:38] nick9822 commented on #366
@idefixcert I agree the errors are ambiguous here and that's how I came across this issue.  I noticed couple of things:
- In JWK set each element inside keys represents a single `JSONWebKey`. In your case, your key contains `d` which means it's a RSA private key. So, after decoding your first and only element is deemed as a RSA Private Key even though it has necessary information i.e. `n`, `e` to

[2022-08-07 12:42] nick9822 commented on #371
@asanka88 No it doesn't have. You can try `Provider` from `github.com/auth0/go-jwt-middleware/v2/jwks`.

[2022-10-04 19:41] smo4201 opened #372 "Unencoded Payload Option WithBase64 still encodes payload to base64 through MarshalJSON?"
As far as I understand, go-jose implements the JSON Web Signature (JWS) Unencoded Payload Option (https://www.rfc-editor.org/rfc/rfc7797) via the SigningOption: `func (*SignerOptions) WithBase64 `.

I tried setting this option via: `opt := (&jose.SignerOptions{}).WithBase64(false)`, but it  still leads to a base64 encoded payload when using full serialization. The option is indeed evaluated and th

[2022-10-07 10:26] oxygen0211 opened #373 "x5t and x5t#S256 headers with padding breaking key unmarshalling"
Hi everyone,

I am using go-jose as a transient dependency (in oauth2-proxy) at a customer's in combination with Oracle Access Manager. Since the release of 2.5.1 (I guess due to the fix of #299 ), validation of the JWK in use is breaking with the error message `square/go-jose: invalid JWK, x5t header has invalid encoding`.

I think I narrowed the issue down to Base64 padding of the x5t and x5t#S2

[2022-10-28 09:16] haggj opened #374 "Protected header in NewMultiEncrypter"
Dear go-jose Team,

I noticed that instantiating a `NewMultiEncrypter` does not recognize the extra headers specified in the passed `EncrypterOptions`. In the following code I would expect the protected header to contain the specified extra header `sharedHeader`. However, the resulting protected header only contains `enc` parameter:

[code]

A possible solution would simply set the extra header wh

[2022-10-31 07:23] #374 closed